body { font: bold 16px auto Arial, Helvetica, Verdana, sans-serif; margin: 0; }

p { font-size: 14px; color: #6B0000; }
a { color: #6B0000; }
a:hover { color: #F8810D;} 

/* Tabela */

table{ font-size: 12px; width: 480px; text-align: center; border-collapse: collapse; }
table.prices { width: 620px;}
table th{ width: 150px; font-weight: bold; padding: 6px 6px 6px 12px; background: #FFEED8; border-top: 2px solid #F8810D; border-bottom: 1px solid #F8810D; border-right: 1px solid #F8810D; letter-spacing: 2px; text-align: left; text-transform: uppercase; color: #6b0000; }
table th.empty, th.period { background: #FFC87F; text-align: center;}
table td{ width: 100px; padding: 6px 6px 6px 12px; border-bottom: 1px dotted #F8810D; border-right: 1px dotted #F8810D; color: #404040; background: #FFFFFF; }
table th.period, td.price{ width: 130px;}

caption {
  padding: 0 0 5px 0;
  width: 700px;   
  font: bold 20px Helvetica,"Trebuchet MS", Verdana, Arial, sans-serif;
  text-align: left;
  color:#A31F00;
}

.submission_text, .submission_date { width: 55%;}

form.formtastic fieldset ol li.string input {
  width: 60%
}

h2.head {display:none;}

#main dt  {float:left;width:200px;}
.participede .empty {background:none;border:0 none;}
.participede table {margin-bottom:20px;}

.subscribe_button { padding: 10px; width: 200px; float: right; margin-top: -60px; margin-right: 45px; }

.program {
  width: 910px;
}

.program .activity {
  font-size: 11px;
  padding: 0;
}

.program .activity div {
  width: 75%;
  margin-right: 5px;
}

.program .activity input[type="radio"] {
  margin: 2px;
  padding: 0;
}

.submission_date {
    margin-left: 10px;
    color: #F8810D;
    font-size: 18px;
}
