---
layout: default 
title: Pacotes das Caravanas
---
%h5 FORMA DE PAGAMENTO:
%p.left
  %strong AÉREO
  \ - 6 X SEM JUROS NOS CARTÕES
  %br
  %strong TERRESTRE
  \ - ENTRADA + 3 X NOS CARTÕES OU DEPÓSITO BANCÁRIO
  %br
  (Pagamento total antes da data do evento)

%h3(id = "Recife") Saída Recife

%p O pacote inclui:
%p.left 
  \- Passagem aérea TAM – RECIFE/NATAL/RECIFE
  %br
  \- 03 noites de hospedagem no hotel escolhido
  %br
  \- Transfer aeroporto/hotel/aeroporto

%table#programacao
  %tr#topicos
    %td.col-a HOTEL
    %td.col-a APT. TRIPLO
    %td.col-a APT. QUÁDRUPLO
  %tr#linha
    %td.col-a Praiamar
    %td R$ 534,24
    %td R$ 513,24
  %tr#linha
    %td.col-a Praia Azul Hotel
    %td R$ 452,24
    %td R$ 422,24
  %tr#linha
    %td.col-a Marsalles Residence
    %td R$ 419,24
    %td R$ 424,24
    
%h3(id = "Fortaleza") Saída Fortaleza

%p O pacote inclui:
%p.left 
  \- Passagem aérea TAM – FOTALEZA/NATAL/FORTALEZA
  %br
  \- 03 noites de hospedagem no hotel escolhido
  %br
  \- Transfer aeroporto/hotel/aeroporto

%table#programacao
  %tr#topicos
    %td.col-a HOTEL
    %td.col-a APT. TRIPLO
    %td.col-a APT. QUÁDRUPLO
  %tr#linha
    %td.col-a Praiamar
    %td R$ 634,24 
    %td R$ 613,24
  %tr#linha
    %td.col-a Praia Azul Hotel
    %td R$ 525,24
    %td R$ 522,24
  %tr#linha
    %td.col-a Marsalles Residence
    %td R$ 519,24 
    %td R$ 524,24
    
%h3(id = "Teresina") Saída Teresina
%p O pacote inclui:
%p.left 
  \- Passagem aérea TAM – TEREZINA/NATAL/TEREZINA
  %br
  \- 03 noites de hospedagem no hotel escolhido
  %br
  \- Transfer aeroporto/hotel/aeroporto

%table#programacao
  %tr#topicos
    %td.col-a HOTEL
    %td.col-a APT. TRIPLO
    %td.col-a APT. QUÁDRUPLO
  %tr#linha
    %td.col-a Praiamar
    %td R$ 794,24 
    %td R$ 773,24
  %tr#linha
    %td.col-a Praia Azul Hotel
    %td R$ 712,24
    %td R$ 682,24
  %tr#linha
    %td.col-a Marsalles Residence
    %td R$ 679,24
    %td R$ 684,24 

%h3(id = "São-Paulo") Saída São-Paulo
%p O pacote inclui:
%p.left 
  \- Passagem aérea TAM – SÃO PAULO/NATAL/SÃO PAULO
  %br
  \- 03 noites de hospedagem no hotel escolhido
  %br
  \- Transfer aeroporto/hotel/aeroporto

%table#programacao
  %tr#topicos
    %td.col-a HOTEL
    %td.col-a APT. TRIPLO
    %td.col-a APT. QUÁDRUPLO
  %tr#linha
    %td.col-a Praiamar
    %td R$ 871,24 
    %td R$ 850,24
  %tr#linha
    %td.col-a Praia Azul Hotel
    %td R$ 789,24
    %td R$ 759,24
  %tr#linha
    %td.col-a Marsalles Residence
    %td R$ 756,24 
    %td R$ 761,24 
    
%h3(id = "Rio-de-Janeiro") Saída Rio-de-Janeiro
%p O pacote inclui:
%p.left 
  \- Passagem aérea TAM – RIO DE JANEIRO/NATAL/RIO DE JANEIRO 
  %br
  \- 03 noites de hospedagem no hotel escolhido
  %br
  \- Transfer aeroporto/hotel/aeroporto

%table#programacao
  %tr#topicos
    %td.col-a HOTEL
    %td.col-a APT. TRIPLO
    %td.col-a APT. QUÁDRUPLO
  %tr#linha
    %td.col-a Praiamar
    %td R$ 926.24  
    %td R$ 905,24
  %tr#linha
    %td.col-a Praia Azul Hotel
    %td R$ 844,24
    %td R$ 814,24
  %tr#linha
    %td.col-a Marsalles Residence
    %td R$ 811,24 
    %td R$ 816,24
