---
layout: default
title: Conheça Natal
layout_type: internal_page 
javascript_imports: jquery.fancybox-1.3.1.pack single_img
---

#conheca-natal
  %img{ :title => "Praia de Ponta Negra", :src=> "images/pontanegra.jpg", :alt => "Praia de Ponta Negra", :align => "left"}
.clear

%p Localizado na esquina do mapa do Brasil, o Rio Grande do Norte é um Estado privilegiado pelas suas belezas naturais e por seu povo hospitaleiro.

%p Natal, hoje com cerca de 800 mil habitantes, é a porta de entrada para o visitante conhecer cerca de 420 km de litoral potiguar com belíssimas praias, dunas, lagoas, salinas e coqueirais, bem como o interior, com suas paisagens únicas de sertão, serras e sítios arqueológicos.

%p Conhecida como a Cidade do Sol, já que o astro rei brilha mais aqui durante o ano todo, Natal possui o ar mais puro da América do Sul, segundo estudos da Nasa e do Instituto Nacional de Pesquisas Espaciais (INPE), além de ter os menores índices de violência do país.
