---
layout: default
title: Divulgue
layout_type: internal_page 
---
%p Nos ajude a divulgar o Oxente Rails 2010 colocando um dos badges abaixo no seu site ou blog ou ainda no site da sua empresa. Você pode contribuir ainda fazendo um post no seu blog divulgando o evento.

.banner
  %p
    %a{ :href => "http://oxenterails.com", :alt => "Oxente Rails 2010 - EU VOU!" }
      %img{ :src => "images/badges/badgeA.jpg", :width => "210", :height => "60" }
  %textarea{ :cols => "50", :rows => "4" }
    &lt;a href="http://oxenterails.com" alt="Oxente Rails 2010 - EU VOU!" target="_blank"&gt;&lt;img  src="http://oxenterails.com/images/badges/badgeA.jpg" width="210" height="60" /&gt;&lt;/a&gt;

.banner
  %p
    %a{ :href => "http://oxenterails.com", :alt => "Oxente Rails 2010 - EU VOU!" }
      %img{ :src => "images/badges/badgeB.jpg", :width => "120", :height => "240" }
  %textarea{ :cols => "50", :rows => "4" }
    &lt;a href="http://oxenterails.com" alt="Oxente Rails 2010 - EU VOU!" target="_blank"&gt;&lt;img src="http://oxenterails.com/images/badges/badgeB.jpg" width="120" height="240" /&gt;&lt;/a&gt;

.banner
  %p
    %a{ :href => "http://oxenterails.com", :alt => "Oxente Rails 2010 - EU VOU!" }
      %img{ :src => "images/badges/badgeC.jpg", :width => "125", :height => "125" }
  %textarea{ :cols => "50", :rows => "4" }
    &lt;a href="http://oxenterails.com" alt="Oxente Rails 2010 - EU VOU!" target="_blank"&gt;&lt;img src="http://oxenterails.com/images/badges/badgeC.jpg" width="125" height="125" /&gt;&lt;/a&gt;
