---
layout: default
title: Propostas 
layout_type: internal_page 
---

%h3 
  %strong Quer palestrar no Oxente Rails 2010?
%p.left Mande sua proposta para ser analisada até o dia 15 de julho de 2010.
%h3
  Que assuntos eu posso abordar?
%p Muito simples, você pode abordar qualquer assunto que esteja relacionado com Ruby, Rails, Agilidade ou Empreendedorismo. Se você acha que tem algum outro assunto que não se encaixa diretamente com estes citados, mas que pode ter uma grande relevância para o evento, você pode mandá-lo também!

%h3 Ah, mas eu quero participar somente da desconferência. Preciso seguir esses passos também?
%p Não! A desconferência do Oxente Rails 2010 será realizada de forma expontânea, com os participantes que assim desejarem. Algumas propostas enviadas podem virar sugestões de tópicos para a desconferência. Lembramos que, na desconferência, cada participante tem até 15 minutos para apresentar.

%h3
  Legal! O que devo fazer pra enviar a minha proposta?  
%p.left 
  Para enviar sua proposta você precisa, primeiramente, estar inscrito no evento Oxente Rails 2010. Não há limite de propostas por participante, então mãos à obra! 
%h6
  Ainda não se increveu?
%p.left 
  Não perca tempo!
  %a(href="/inscreva-se")
    %strong Inscreva-se aqui.
%h6 E o que acontece depois?
%p.left Depois de inscrito, basta apenas digitar o seu localizador abaixo se você não quiser submeter a proposta na hora da inscrição.
%iframe{:src => "http://participe.de/events/oxente-rails-2010/attendants/find.iframe?css=http://oxenterails.eventos.participe.de/css/participede.css", :width => '100%', :height => '250px', :scrolling => 'no', :frameborder => "0"}

