---
layout: default
title: Agenda
layout_type: internal_page  
---

%table#programacao
  %tr#date
    %td.col-a(colspan=4) 06/08 SEXTA-FEIRA
  %tr#topicos
    %td.col-a Horário
    %td.col-a Sala A
    %td.col-a Sala B
    %td.col-a Sala C
  %tr#linha
    %td.col-a 07:30-08:50
    %td(colspan=3) Credenciamento
  %tr#linha
    %td.col-a 08:50-09:10
    %td(colspan=3) Abertura
  %tr#linha
    %td.col-a 09:10-10:10
    %td(colspan=3) Fábio Akita
  %tr#linha
    %td.col-a 10:10-10:40
    %td(colspan=3) Coffee Break
  %tr#linha
    %td.col-a 10:40-11:40
    %td(colspan=3) David Heinemeier Hansson
  %tr#linha
    %td.col-a 11:40-12:40
    %td Palestra A1
    %td Palestra B1
    %td Palestra C1
  %tr#linha
    %td.col-a 12:40-14:00
    %td(colspan=3) Almoço
  %tr#linha
    %td.col-a 14:00-15:00
    %td Palestra A2
    %td Palestra B2
    %td Palestra C2
  %tr#linha
    %td.col-a 15:00-16:00
    %td Cauê Guerra
    %td Palestra B3
    %td Palestra C3
  %tr#linha
    %td.col-a 16:00-16:30
    %td(colspan=3) Coffee Break
  %tr#linha
    %td.col-a 16:30-17:30
    %td(colspan=3) Marcos Tapajós
  %tr#linha
    %td.col-a 17:30-18:30
    %td(colspan=3) Dr. Nic
  %tr#linha
    %td.col-a 18:30-20:00
    %td(colspan=3) Desconferêcia
  %tr#linha
    %td.col-a 20:30-23:00
    %td(colspan=3) Hora-Extra


%table#programacao
  %tr#date
    %td.col-a(colspan=4) 07/08 SÁBADO
  %tr#topicos
    %td.col-a Horário
    %td.col-a Sala A
    %td.col-a Sala B
    %td.col-a Sala C
  %tr#linha
    %td.col-a 08:00-08:50
    %td(colspan=3) Credenciamento
  %tr#linha
    %td.col-a 08:50-09:00
    %td(colspan=3) Abertura
  %tr#linha
    %td.col-a 09:00-10:00
    %td(colspan=3) Carlos Brando
  %tr#linha
    %td.col-a 10:00-10:30
    %td(colspan=3) Coffee Break
  %tr#linha
    %td.col-a 10:30-11:00
    %td(colspan=3) Sponsor A
  %tr#linha
    %td.col-a 11:00-11:30
    %td(colspan=3) Sponsor B
  %tr#linha
    %td.col-a 11:30-12:30
    %td Palestra A4
    %td Palestra B4
    %td Palestra C4
  %tr#linha
    %td.col-a 12:30-14:00
    %td(colspan=3) Almoço
  %tr#linha
    %td.col-a 14:00-15:00
    %td Palestra A5
    %td Palestra B5
    %td Palestra C5
  %tr#linha
    %td.col-a 15:00-16:00
    %td Palestra A6
    %td Palestra B6
    %td Palestra C6
  %tr#linha
    %td.col-a 16:00-16:30
    %td(colspan=3) Coffee Break
  %tr#linha
    %td.col-a 16:30-17:30
    %td Palestra A7
    %td Palestra B7
    %td Palestra C7
  %tr#linha
    %td.col-a 17:30-18:30
    %td(colspan=3) Vinícius Teles
  %tr#linha
    %td.col-a 18:30-19:00
    %td(colspan=3) Fechamento
  %tr#linha
    %td.col-a 19:30-23:00
    %td(colspan=3) Hora-Extra
