---
layout: default
title: Inscreva-se
---

%ul.ul_disc
  %li
    %a(href="#inscricoes") Inscrição Online
  %li
    %a(href="#procedimentos") Procedimentos para Inscrição
  %li
    %a(href="#taxas") Taxas de Inscrição
%hr

%h3(id="inscricoes")
  %u Inscrição Online
%ul.ul_none
  %li As inscrições serão abertas em breve, aguardem!

%h3(id="procedimentos")
  %u Procedimentos para Inscrição
%ul.ul_disc
  %li As inscrições deverão ser efetuadas, através deste site até 11/07/10. Após esta data, somente no local do evento;
  %li As inscrições realizadas no dia do evento estarão condicionadas à disponibilidade de vagas.
  
%h3(id="taxas")
  %u Taxas de Inscrição
%ul.ul_disc
  %li O pagamento da inscrição deverá ser feito por boleto bancário, emitidos no site, ou por cartões de créditos.
  %li Os valor da inscrição será divulgado em breve, quando forem abertas as vagas para inscrições.

