---
layout: default
title: Local
layout_type: internal_page 
---

%a(href = "http://www.praiamarnatal.com.br/index2.php" title="Clique aqui e entre no site do Praiamar" target="_blank")
  #local
    %img{ :title => "Praiamar Natal Hotel & Convention", :src=> "images/fachada-praimar.jpg", :alt => "Praiamar Natal Hotel & Convention", :align => "left", :width => "478", :height => "318" }
    .clear
    %h3 Praiamar Natal Hotel & Convention
  .clear

%p O Praiamar está localizado numa das mais belas praias do nordeste brasileiro, Ponta Negra, uma traquila enseada de águas mornas contemplada pela beleza do Morro do Careca, o cartão postal mais conhecido de Natal.

%p Possui o mais novo e moderno Centro de Convenções e Eventos de Natal. São mais de 4.000 m&sup2; de área com recursos tecnológicos de audiovisual, climatização, acústica, segurança e sistema de multifacetação de áreas de última geração. Através de divisórias articuláveis de ambiente, som e clima, a área geral imediatamente é dividida, e cada uma delas passa a receber toda a rede de serviços.

%p O projeto do Centro de Eventos Praiamar contemplou um espaço de 1.000 m&sup2; para exposições, comportando a montagem de estandes, com todo o conforto para exposição e público.

%p
  %strong
    %u Localização:
%ul.ul_disc
  %li 14km do Aeroporto
  %li 12km do Centro da Cidade
  %li 500m do Centro de Convenções de Natal
  %li Acesso exclusivo à praia

%p
  %strong
    %u Fotos do local:
    
#praiamar
  %img{ :title => "Auditório Praiamar", :src=> "images/auditoria-praiamar.jpg", :alt => "Auditório Praiamar", :align => "left", :width => "200"}
  %img{ :title => "Espaço para exposições Praiamar", :src=> "images/expositores-praiamar.png", :alt => "Espaço para exposições Praiamar", :align => "left", :width => "200" }
  %img#last{ :title => "Espaço para coffe-break Praiamar", :src=> "images/salaodefesta-praiamar.png", :alt => "Espaço para coffe-break Praiamar", :align => "left", :width => "200" }
.clear
