---
layout: default
title: Palestrantes
layout_type: internal_page 
---

#guests
  %ul
    %li
      %img{ :width => "86", :height => "86", :alt => "brando", :src => "images/guests/brando.png"}
      %h3(id="brando")
        %a{ :href => "http://www.nomedojogo.com/", :target => "_blank"}
          Carlos Brando
      %p
        Viciado em programação, atualmente é Diretor de Tecnologia da
        %a(href="http://amanaie.com.br/" target="_blank") Amanaiê
        e antes era Senior Engineer na
        %a(href="http://surgeworks.com/" target="_blank") Surgeworks LLC. 
        Atua na área de desenvolvimento de softwares há mais de dez anos. Possui um dos 
        %a(href="http://nomedojogo.com" target="_blank") blogs 
        mais conhecidos do Brasil sobre Ruby on Rails. Ele é ativo na comunidade brasileira de Ruby on Rails e participa em diversos projetos open-source. Já se apresentou em vários eventos brasileiros relacionados ao Ruby e também escreveu o 
        %a(href="http://www.nomedojogo.com/2008/06/09/new-free-book-ruby-on-rails-21-whats-new/" target="_blank") primeiro livro
        sobre Rails 2.1 do mundo, distribuído gratuitamente na Internet.
    %hr
    %li
      %img{ :width => "67", :height => "87", :alt => "Cauê Guerra", :src => "images/guests/caue.png"}
      %h3(id = "caue")
        %a{ :href => "http://twitter.com/caueguerra", :target => "_blank"}
          Cauê Guerra
      %p
        Cientista da computação formado pelo IME-USP, desenvolve em Java e Ruby on Rails há 2 anos. Trabalhou como desenvolvedor, instrutor e consultor pela
        %a(href="http://caelum.com.br/" target="_blank") Caelum
        e atualmente é consultor da
        %a(href="http://thoughtworks.com/" target="_blank") ThoughtWorks
        na Austrália.
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "dhh", :src => "images/guests/dhh.jpg"}
      %h3(id="dhh")
        %a{ :href => "http://37signals.com/", :target => "_blank"}
          David Heinemeier Hansson
      %p
        David é um parceiro da
        %a(href="http://37signals.com/" target="_blank") 37signals,
        e o criador do framework para aplicações web
        %a(href="http://rubyonrails.org/" target="_blank") Ruby on Rails. 
        Pelo seu trabalho em Rails, ele ganhou o prêmio de Melhor Hacker do Ano de 2005 
        %a(href="http://osdir.com/Article6677.phtml" target="_blank") na OSCON da Google e O'Reilly.
        E em 2006, ele aceitou o prêmio Jolt de excelência de produto para o Rails 1.0. Ele é o co-autor dos livros
        %a(href="http://gettingreal.37signals.com/" target="_blank") Getting Real
        (mais 40.000 cópias vendidas) e
        %a(href="http://pragprog.com/titles/rails3/agile-web-development-with-rails-third-edition" target="_blank") Agile Web Development with Rails
        (mais 100,000 cópias vendidas).
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "Dr. Nic Williams", :src => "images/guests/drnic.png"}
      %h3(id = "nic")
        %a{ :href => "http://mocra.com/", :target => "_blank"}
          Dr. Nic Williams
      %p
        Dr. Nic é o fundador da empresa de consultoria em Rails
        %a(href="http://mocra.com/" target="_blank") Mocra.
        Ele já escreveu, manteve e contribuiu com mais de 100 projetos open source ao redor das linguagens/domínios do Ruby, JavaScript, Objective-C e bundles do TextMate. Dr. Nic já palestrou em várias conferências internacionais desde 2007, incluindo RubyConf, RailsConf Europa, QCON, JAOO, RubyEnRails, Rails Underground, Rails Summit Latin America, RubyConf Europe, RubyFools, OSDC, RailsCamp e RailsConf. Ele é Australiano e se acha engraçado.
    %hr
    %li
      %img{ :width => "78", :height => "88", :alt => "akita", :src => "images/guests/akita.png"}
      %h3(id="akita")
        %a{ :href => "http://www.akitaonrails.com/", :target => "_blank"}
          Fabio Akita
      %p
        Um dos mais ativos evangelistas de Ruby on Rails da América Latina. Organizou e promoveu a primeira real conferência de Ruby on Rails no Brasil: RejectConf São Paulo ‘07, e mais recentemente organizou o 
        %a(href="http://www.railssummit.com.br/" target="_blank") Rails Summit Latin America em 2009. 
        Bloga regularmente em português e inglês no 
        %a(href="http://akitaonrails.com/" target="_blank") AkitaOnRails.com
        sobre desenvolvimento de software, Ruby on Rails, entre outras coisas. Ele também ajuda a evangelizar novas tecnologias e a Filosofia Ágil. 
    %hr
    %li
      %img{ :width => "86", :height => "96", :alt => "kung", :src => "images/guests/kung.png"}
      %h3(id="kung")
        %a{ :href => "http://www.fabiokung.com/", :target => "_blank"}
          Fabio Kung
      %p
        Engenheiro da Computação pela Escola Politécnica da USP. Possui experiência na Alemanha e palestra em alguns eventos de tecnologia como o JustJava, Falando em Java, WebMobile TechWeek, Ruby e Rails no Mundo Real, FISL e Rails Summit Latin America. Possui as certificações SCJP, SCBCD 5, SCEA 5 da Sun e Ruby Certified Programmer Silver, além de participar de alguns projetos opensource como o VRaptor, Waffle, GUJ, Caelum Stella e JettyRails. Atualmente está bastante envolvido com a comunidade de Java e Ruby no Brasil e trabalha na Locaweb como Gerente dos produtos de Cloud Computing.
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "tapajos", :src => "images/guests/tapajos.png"}
      %h3(id="tapajos")
        %a{ :href => "http://tapajos.me/", :target => "_blank"}
          Marcos Tapajós
      %p
        Trabalhou como consultor ágil e coach de equipes até 2008 e está atualmente trabalhando para a 
        %a(href="http://redeparede.com/" target="_blank") RedeParede
        e
        %a(href="http://www.improveit.com.br/" target="_blank") Improve It.
        Ele trabalha com Ruby on Rails desde 2006, foi co-autor do primeiro livro de Rails 2.1 e criou o plugin de internacionalização mais usado no Brasil. Também contribui para diversos projetos open source.
    %hr
    %li
      %img{ :width => "86", :height => "110", :alt => "thais", :src => "images/guests/thais.png"}
      %h3(id="tapajos")
        %a{ :href => "http://tcamilo.wordpress.com", :target => "_blank"}
          Thais Camilo
      %p
        O caminho que levou a Thais a sua paixão pelo Ruby on Rails começou quando ela aprendeu Perl para organizar sua vasta coleção de músicas e livros. Isso rapidamente a estimulou a possuir uma graduação em Ciências da Computação (ao invés de cuidar dos negócios da família) e trabalhar com desenvolvimento de software em C, Perl, Python e PHP. Ela então viajou para explorar um pouco de Java até que finalmente achou (e se apaixonou) o Ruby on Rails. Brasileira, mudou-se para o Chile para se tornar uma Rocketeer e conhecer a neve pela primeira vez nos Andes. Ela ama ajudar pessoas, nunca se esquivando de ensinar o que for necessário para quem precisar. No tempo livre, ela gosta de andar de bicicleta, correr e praticar Krav Mangá. Apesar do Krav Mangá, ela jura que é uma pessoa gentil. Ah, e não se preocupe se ela te abraçar quando você conhecê-la.
    %hr
    %li
      %img{ :width => "78", :height => "88", :alt => "teles", :src => "images/guests/vinicius.png"}
      %h3(id="vinicius")
        %a{ :href => "http://beonthe.net/criar_site_fazer_site/pagina/home", :target => "_blank"}
          Vinícius Teles
      %p 
        Fundador da consultoria
        %a(href="http://www.improveit.com.br/" target="_blank") Improve It.
        Ele escreveu o primeiro livro brasileiro de XP e trabalhou como coach e mentor de XP por muitos anos. Ele vem desenvolvendo com Rails desde 2006. No fim de 2007 ele mudou sua empresa para um novo modelo de negócios, transformando a Improve It em uma empresa de produtos web. Ele agora se sustenta com assinaturas dos clientes de seu principal produto, o 
        %a(href="http://beonthe.net/" target="_blank")Be on the Net. 
