---
layout: default
title: Local
layout_type: internal_page 
javascript_imports: jquery.fancybox-1.3.1.pack single_img
---

%a(href = "http://www.praiamarnatal.com.br/index2.php" title="Clique aqui e entre no site do Praiamar" target="_blank")
  #local
    %img{ :title => "Praiamar Natal Hotel & Convention", :src=> "images/fachada-praimar.jpg", :alt => "Praiamar Natal Hotel & Convention", :align => "left", :width => "478", :height => "318" }
    .clear
    %h3 Praiamar Natal Hotel & Convention
  .clear

%p O Praiamar está localizado numa das mais belas praias do nordeste brasileiro, Ponta Negra, uma traquila enseada de águas mornas contemplada pela beleza do Morro do Careca, o cartão postal mais conhecido de Natal.

%p Possui o mais novo e moderno Centro de Convenções e Eventos de Natal. São mais de 4.000 m&sup2; de área com recursos tecnológicos de audiovisual, climatização, acústica, segurança e sistema de multifacetação de áreas de última geração. Através de divisórias articuláveis de ambiente, som e clima, a área geral imediatamente é dividida, e cada uma delas passa a receber toda a rede de serviços.

%p O projeto do Centro de Eventos Praiamar contemplou um espaço de 1.000 m&sup2; para exposições, comportando a montagem de estandes, com todo o conforto para exposição e público.

%p
  %strong
    %u Localização:
    
%iframe{ :width => "640", :height => "480", :frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Praiamar+Natal+Hotel+e+Convention,+Natal+-+Rio+Grande+do+Norte,+Brasil&amp;sll=-5.872484,-35.178362&amp;sspn=0.0065,0.012628&amp;ie=UTF8&amp;hq=Praiamar+Natal+Hotel+e+Convention,&amp;hnear=Natal+-+RN,+Brazil&amp;cid=9712831464907072966&amp;ll=-5.843838,-35.169983&amp;spn=0.163938,0.219727&amp;z=12&amp;iwloc=A&amp;output=embed"}
%br
%small
  %a{ :href => "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Praiamar+Natal+Hotel+e+Convention,+Natal+-+Rio+Grande+do+Norte,+Brasil&amp;sll=-5.872484,-35.178362&amp;sspn=0.0065,0.012628&amp;ie=UTF8&amp;hq=Praiamar+Natal+Hotel+e+Convention,&amp;hnear=Natal+-+RN,+Brazil&amp;cid=9712831464907072966&amp;ll=-5.843838,-35.169983&amp;spn=0.163938,0.219727&amp;z=12&amp;iwloc=A", :style => "color:#0000FF;text-align:left"}
    Clique aqui para ampliar

%ul.ul_disc
  %li 14km do Aeroporto
  %li 12km do Centro da Cidade
  %li Acesso exclusivo à praia

.clear
%p
  %strong
    %u Planta-baixa do local:
%p
  %a{ :id => "single_img", :href => "images/plantabaixa-praiamar.jpg"}
    %img{ :title => "Planta Baixa do Praiamar Hotel & Convention", :src => "images/plantabaixa-praiamar.jpg", :alt => "Planta Baixa do Praiamar Hotel & Convention", :align => "center", :width => "500"}
%p
  %strong
    %u Fotos do local:

#fotos-local
  %p Localização:
  %a{ :class => "group", :rel => "localização", :href => "images/local/foto07.jpg"}
    %img{ :title => "Vista da área de lazer", :src => "images/local/foto07.jpg", :alt => "Vista da área de lazer"}
  %a{ :class => "group", :rel => "localização", :href => "images/local/foto08.jpg"}
    %img{ :title => "Localização do Hotel", :src => "images/local/foto08.jpg", :alt => "localização do Hotel"}
  %a{ :class => "group", :rel => "localização", :href => "images/local/foto09.jpg"}
    %img{ :title => "Área de Lazer", :src => "images/local/foto09.jpg", :alt => "Área de Lazer"}  
.clear
#fotos-local
  %p O Hotel:
  %a{ :class => "group", :rel => "oHotel", :href => "images/local/foto10.jpg"}
    %img{ :title => "Lojas de Artezanato", :src => "images/local/foto10.jpg", :alt => "Lojas de Artezanato"}
  %a{ :class => "group", :rel => "oHotel", :href => "images/local/foto11.jpg"}
    %img{ :title => "Dormitórios", :src => "images/local/foto11.jpg", :alt => "Dormitórios"}
  %a{ :class => "group", :rel => "oHotel", :href => "images/local/foto12.jpg"}
    %img{:title => "Suites", :src => "images/local/foto12.jpg", :alt => "Suites"}
.clear
#fotos-local
  %p Lazer
  %a{ :class => "group", :rel => "lazer", :href => "images/local/foto12.jpg"}
    %img{ :title => "Piscinas", :src => "images/local/foto13.jpg", :alt => "Piscinas"}
  %a{ :class => "group", :rel => "lazer", :href => "images/local/foto14.jpg"}
    %img{:title => "Piscinas", :src => "images/local/foto14.jpg", :alt => "Piscinas"}
  %a{ :class => "group", :rel => "lazer", :href => "images/local/foto15.jpg"}
    %img{ :title => "Piscinas", :src => "images/local/foto15.jpg", :alt => "Piscinas"}
#fotos-local
  %p Gastronomia
  %a{ :class => "group", :rel => "gastronomia", :href => "images/local/foto16.jpg"}
    %img{ :title => "Café da manhã", :src => "images/local/foto16.jpg", :alt => "Café da manhã"}
  %a{ :class => "group", :rel => "gastronomia", :href => "images/local/foto17.jpg"}
    %img{:title => "Salão de Visitas", :src => "images/local/foto17.jpg", :alt => "Salão de Visitas"}
  %a{ :class => "group", :rel => "gastronomia", :href => "images/local/foto18.jpg"}
    %img{ :title => "Café da manhã", :src => "images/local/foto18.jpg", :alt => "Café da manhã"}

#fotos-local
  %p Evento:
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto01.jpg"}
    %img.w{ :title => "Auditório Praiamar", :src=> "images/local/foto01.jpg", :alt => "Auditório Praiamar"}
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto02.png"}  
    %img.w{ :title => "Espaço para exposições Praiamar", :src=> "images/local/foto02.png", :alt => "Espaço para exposições Praiamar" }
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto03.jpg"}
    %img.w{ :title => "Espaço para coffe-break Praiamar", :src=> "images/local/foto03.jpg", :alt => "Espaço para coffe-break Praiamar" }
  %br
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto04.png"}
    %img.w{ :title => "Auditório Praiamar - Vista Frontal", :src => "images/local/foto04.png", :alt => "Auditório Praiamar - Vista Frontal"}
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto05.jpg"}
    %img.w{:title => "Espaço para Expositores", :src => "images/local/foto05.jpg", :alt => "Espaço para Expositores"}
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto06.jpg"}
    %img.w{ :title => "Salão para coffe-break Praiamar", :src=> "images/local/foto06.jpg", :alt => "Salão para coffe-break Praiamar" }
.clear

