---
layout: default
title: Início
layout_type: start_page 
---
.grid_1.prefix_8
  %a(href="http://www.twitter.com/oxenterails" target="_blank")
    %img.twitter{ :src => "images/bg/logo-twitter.jpg", :title => "Siga-nos no Twitter!"}
.grid_9.alpha
  .slider
    .inside
      .slideshow
        - 19.times do |image|
          %img{ :src => "images/slides/#{image}.jpg"}
  .clear
  .thank
    %p O Oxente Rails 2010 acabou e foi um sucesso!
    %p Queremos agradecer a cada um dos palestrantes por esse sucesso, e também a cada um dos 300 participantes! Muito obrigada a todos vocês por fazerem o evento acontecer!
    %p
      As fotos do evento podem ser encontradas aqui no site, no menu
      %strong
        %a(href="http://oxenterails.com/fotos" target="_blank") Fotos,
      e também em outros lugares, alguns links seguem abaixo:
      %ul.ul_disc
        %li
          Flickr
          %ul
            %li 
              %a(href="http://www.flickr.com/photos/danicuki/sets/72157624669014520/with/4869783925/" target="_blank") Daniel Cukier
            %li
              %a(href="http://www.flickr.com/photos/henriquebastos/with/4875407648/" target="_blank") Henrique Bastos
        %li 
          Gallery.me
          %ul
            %li
              %a(href="http://gallery.me.com/akitaonrails#100201&view=null&bgcolor=black&sel=32" target="_blank") Fábio Akita
    %p Os vídeos de gravação do Oxente Rails 2010 serão editados e logo após disponibilizados na internet.
    %hr
    %p 
      Abaixo seguem alguns links das resenhas feitas do evento:
      %ul_ul_disc
        %li
          %p
            %a(href="http://rafael.adm.br/p/oxente-rails-2010/" target="_blank") Rafael Lima
        %li
          %p
            %a(href="http://henriquebastos.net/2010/08/09/balanco-do-oxenterails-2010/" target="_blank") Henrique Bastos.NET
        %li
          %p Blog de Helton Duarte
          %ul
            %li
              %a(href="http://heltonduarte.com/2010/08/07/oxente-rails-2010-dia-1/" target="_blank") Primeiro dia,
              %a(href="http://heltonduarte.com/2010/08/08/oxente-rails-2010-dia-2/" target="_blank"
) Segundo dia
        %li
          %p Blog do Tá safo!    
          %ul
            %li
              %a(href="http://tasafo.wordpress.com/2010/08/12/tasafoemacao-no-oxenterails-2010-1-dia/" target="_blank") Primeiro dia,
              %a(href="http://tasafo.wordpress.com/2010/08/14/2-dia-do-oxente-rails-2010/" target="_blank") Segundo dia
        %li
          %p
            %a(href="http://nerdson.com/blog/oxente/" target="_blank") Nerdson
        %li
          %p 
            %a(href="http://cabritin.wordpress.com/2009/08/11/oxente-rails-dia-1/" target="_blank") themeless
