---
layout: default
title: Inscreva-se
layout_type: internal_page 
---

%ul.ul_disc
  %li
    %a(href="#inscricoes") Inscrição Online
  %li
    %a(href='#localizador') Acesso via localizador
  %li
    %a(href="#procedimentos") Procedimentos para Inscrição
  %li
    %a(href="#formas") Formas de pagamento
%hr

%h3(id="inscricoes")
  %u Inscrição Online
%iframe{:src => "http://participe.de/events/oxente-rails-2010.iframe?css=http://oxenterails2010.eventos.participe.de/css/participede.css", :width => '100%', :height => '300px', :width => '700px', :scrolling => 'no', :frameborder => "0"}

%h3(id="localizador")
  %u Acesso via localizador

%iframe{:src => "http://participe.de/events/oxente-rails-2010/attendants/find.iframe?css=http://oxenterails2010.eventos.participe.de/css/participede.css", :width => '100%', :height => '350px', :scrolling => 'no', :frameborder => "0"}

%h3(id="procedimentos")
  %u Procedimentos para Inscrição
%ul.ul_disc
  %li As inscrições deverão ser efetuadas, através deste site até 11/07/10. Após esta data, somente no local do evento;
  %li As inscrições realizadas no dia do evento estarão condicionadas à disponibilidade de vagas.
  
%h3(id="formas")
  %u Formas de pagamento
%ul.ul_disc
  %li O pagamento da inscrição deverá ser feito por boleto bancário, emitidos no site, ou por cartões de créditos.

