---
layout: default 
title: Agência de Turismo
---
%ul.ul_disc
  %li
    %a(href='#vantagens') Por que viajar conosco?
  %li
    %a(href="#pacotes") Pacotes de Hospedagem
  %li
    %a(href="#mais") Mais Informações
  %li
    %a(href='#caravanas') Caravanas Exclusivas
  %li
    %a(href="#harabello") Sobre a Harabello
%hr
#agencia
  %a{ :href => "http://www.harabello.com.br/pt/"}
    %img(title="Harabello - Viagens e turismo" src="images/logo_harabello.gif" alt="Harabello - Viagens e turismo")
    
%h3(id = "vantagens") Por que viajar conosco?
%ul.ul_disc
  %li Estaremos de plantão no local do evento.
  %li Faremos alterações de datas, hoteis e passagens quando necessárias.
  %li As nossas tarifas aéreas pela GOL tem 15% de desconto sobre a tarifa do site.
  %li Nos vôos em caravanas dispomos de até 80% de desconto sobre a tarifa disponível no site. 
  %li Os preços de hospedagem nos hotéis são exclusivos e acessíveis. 
  %li Disponibilizaremos pacotes de passeios acessiveis pra todos os gostos.
  %li Você contribui com a realização do Oxente Rails 2010!

%h3(id="pacotes") Pacotes de Hospedagem

%table#programacao
  %tr#topicos
    %td.col-a
      HOTEL
    %td.col-a
      LOCALIZAÇÃO
    %td.col-a
      SINGLE
    %td.col-a
      DUPLO
    %td.col-a
      TRIPLO
    %td.col-a
      QUADRUPLO
  %tr#linha
    %td.col-a
      Praiamar (****)
    %td
      Ponta Negra
    %td
      R$ 191,00
    %td
      R$ 211,00
    %td.colb-b
      R$ 274,00
    %td.colb-b
      R$ 337,00
  %tr#linha
    %td.col-a
      Araça Flat (****) 
    %td
      Ponta Negra
    %td
      R$ 143,00
    %td
      R$ 143,00
    %td.colb-b
      \-
    %td.colb-b
      \-
  %tr#linha
    %td.col-a
      Holiday Inn (***) 
    %td
      Ponta Negra
    %td
      R$ 167,00
    %td
      R$ 167,00
    %td.colb-b
      \-
    %td.colb-b
      \- 
  %tr#linha
    %td.col-a
      Praia Azul (***) 
    %td
      Ponta Negra
    %td
      R$ 156,00
    %td
      R$ 156,00
    %td.colb-b
      R$ 192,00
    %td.colb-b
      R$ 216,00
  %tr#linha
    %td.col-a
      Areia de Ouro (***)
    %td
      Ponta Negra
    %td
      R$ 145,00
    %td
      R$ 145,00
    %td.colb-b
      R$ 189,00
    %td.colb-b
      \-
  %tr#linha
    %td.col-a
      Divi Divi (***)
    %td
      Ponta Negra
    %td
      R$ 139,00
    %td
      R$ 139,00
    %td
      R$ 169,00
    %td
      \-
  %tr#linha
    %td.col-a
      Cabanas Apart Hotel (***)
    %td
      Ponta Negra
    %td
      R$ 129,00
    %td
      R$ 129,00
    %td
      R$ 169,00
    %td
      R$ 210,00
  %tr#linha
    %td.col-a
      Serantes (***)
    %td
      Ponta Negra
    %td
      R$ 115,00
    %td
      R$ 135,00
    %td
      R$ 155,00
    %td
      \-
  %tr#linha
    %td.col-a
      Cabanas Apart Hotel (***)
    %td
      Ponta Negra
    %td
      R$ 99,00
    %td
      R$ 109,00
    %td
      R$ 159,00
    %td
      \-
  
%h3(id = "caravanas") Caravanas Exclusivas
%table#programacao
  %tr#topicos
    %td.col-a
      ORIGEM
    %td.col-a
      VINDA
    %td.col-a
      VOLTA
    %td.col-a
      VALOR
  %tr#linha
    %td.col-a
      Recife (REC)
    %td
      JJ3080 - 05 de Agosto
      %br
      Saída: 12:25
      %br
      Chegada: 13:15
    %td
      JJ3301 - 08 de Agosto
      %br
      Saída: 16:50
      %br
      Chegada: 17:35
    %td
      R$ 204,24
  %tr#linha
    %td.col-a
      Fortaleza (FOR)
    %td
      JJ3302 - 05 de Agosto
      %br
      Saída: 13:40
      %br
      Chegada: 14:30
    %td
      JJ3301 - 08 de Agosto
      %br
      Saída: 15:35
      %br
      Chegada: 16:35
    %td
      R$ 314,24
  %tr#linha
    %td.col-a
      São Paulo (GRU)
    %td
      JJ3301 - 05 de Agosto
      %br
      Saída: 11:30
      %br
      Chegada: 14:50
    %td
      JJ3307 - 08 de Agosto
      %br
      Saída: 23:30
      %br
      Chegada: 02:45 (09/08)
    %td
      R$ 556,24
  %tr#linha
    %td.col-a
      Rio de Janeiro (GIG)
    %td
      JJ3080 - 05 de Agosto
      %br
      Saída: 09:06
      %br
      Chegada: 13:15
    %td
      JJ3081 - 08 de Agosto
      %br
      Saída: 16:50
      %br
      Chegada: 21:21
    %td
      R$ 611,24
%p
  Para formar uma caravana é preciso ter pelo menos 10 pessoas confirmadas. Se você está em outro estado e gostaria de formar uma caravana para vir para o Oxente Rails 2010 por favor entre em contato conosco por email:
  %a{ :href => "mailto:caravanas@oxenterails.com" }
    caravanas@oxenterails.com

%h3(id = "mais") Mais informações
%p 
  Para fazer as reservas ou conferir os pacotes de passeios opcionais basta acessar o
  %a{ :href => "http://www.harabello.com.br/pt/eventos/oxente_rails_2010", :target => "_blank"}
    site
  da Harabello. Reserve já a sua vaga!

%h1(id="harabello") Sobre a Harabello
%p Sediada em Natal/RN com filial em Mossoró/RN, a Harabello Turismo vem se firmando no mercado Norteriograndense, desde 1987, pela excelência no planejamento e organização de pacotes nacionais e internacionais. A estrutura da empresa é organizada de forma multifuncional, onde os setores se entrelaçam numa rede de atendimento integrada, de modo que os profissionais do setor de turismo compartilham conhecimentos, experiências e vivências, com o setor de eventos na logística, operacionalização e organização de congressos, seminários, encontros, reuniões, feiras e eventos de qualquer natureza.

%p O setor corporativo, que atende empresas públicas e privadas, tanto no Rio Grande do Norte quanto na Paraíba, atua também de forma compartilhada com os outros setores da empresa, de maneira que o conhecimento seja sempre socializado e integrado a todos os setores, contribuindo para a excelência do atendimento.

%p A empresa é credenciada a Abav (Associação Brasileira dos Agentes de Viagens), ao IATA (International Air Transport Association) e a Embratur (Empresa Brasileira de Turismo), destacando-se pela competência, credibilidade e idoneidade.

%h3 Localização
%ul
  %li
    %strong Loja Natal/RN
    %p Tel: + 55 (84) 3133.4141 - Av. Afonso Pena, 815- Tirol - harabello@harabello.com.br
  %li
    %strong Loja Mossoró/RN
    %p Tel: + 55 (84) 3316.1314 - PÇA Felipe Guerra, 12 - shop bc lj. 29 - Centro - harabello@harabello.com.br
