---
layout: default 
title: Agência de Turismo
---
%ul.ul_disc
  %li
    %a(href='#vantagens') Por que viajar conosco?
  %li
    %a(href="#pacotes") Pacotes de Hospedagem
  %li
    %a(href="#mais") Mais Informações
  %li
    %a(href='#caravanas') Caravanas Exclusivas
  %li
    %a(href="#harabello") Sobre a Harabello
%hr
#agencia
  %a{ :href => "http://www.harabello.com.br/pt/"}
    %img(title="Harabello - Viagens e turismo" src="images/logo_harabello.gif" alt="Harabello - Viagens e turismo")
    
%h3(id = "vantagens") Por que viajar conosco?
%p

%h3(id="pacotes") Pacotes de Hospedagem

%table#programacao
  %tr#topicos
    %td.col-a
      HOTEL
    %td.col-a
      LOCALIZAÇÃO
    %td.col-a
      SINGLE
    %td.col-a
      DUPLO
    %td.col-a
      TRIPLO
    %td.col-a
      QUADRUPLO
  %tr#linha
    %td.col-a
      Praiamar 4*
    %td
      Ponta Negra
    %td
      R$ 191,00
    %td
      R$ 211,00
    %td.colb-b
      R$ 274,00
    %td.colb-b
      R$ 337,00
  %tr#linha
    %td.col-a
      Araça Flat 4* 
    %td
      Ponta Negra
    %td
      R$ 143,00
    %td
      R$ 143,00
    %td.colb-b
      \-
    %td.colb-b
      \-
  %tr#linha
    %td.col-a
      Holiday Inn 3* 
    %td
      Ponta Negra
    %td
      R$ 167,00
    %td
      R$ 167,00
    %td.colb-b
      \-
    %td.colb-b
      \- 
  %tr#linha
    %td.col-a
      Praia Azul 3* 
    %td
      Ponta Negra
    %td
      R$ 156,00
    %td
      R$ 156,00
    %td.colb-b
      R$ 192,00
    %td.colb-b
      R$ 216,00
  %tr#linha
    %td.col-a
      Areia de Ouro 3*
    %td
      Ponta Negra
    %td
      R$ 145,00
    %td
      R$ 145,00
    %td.colb-b
      R$ 189,00
    %td.colb-b
      \-
  %tr#linha
    %td.col-a
      Divi Divi 3*
    %td
      Ponta Negra
    %td
      R$ 139,00
    %td
      R$ 139,00
    %td
      R$ 169,00
    %td
      \-
  %tr#linha
    %td.col-a
      Cabanas Apart Hotel 3*
    %td
      Ponta Negra
    %td
      R$ 129,00
    %td
      R$ 129,00
    %td
      R$ 169,00
    %td
      R$ 210,00
  %tr#linha
    %td.col-a
      Serantes 3*
    %td
      Ponta Negra
    %td
      R$ 115,00
    %td
      R$ 135,00
    %td
      R$ 155,00
    %td
      \-
  %tr#linha
    %td.col-a
      Cabanas Apart Hotel 3*
    %td
      Ponta Negra
    %td
      R$ 99,00
    %td
      R$ 109,00
    %td
      R$ 159,00
    %td
      \-
%h3(id = "mais") Mais informações
%p 
  Para fazer as reservas ou conferir os pacotes de passeios opcionais basta acessar o
  %a{ :href => "http://www.harabello.com.br/pt/eventos/oxente_rails_2010", :target => "_blank"}
    site.
  Reserve já a sua vaga!
  
%h3(id = "caravanas") Caravanas Exclusivas
%p

%h1(id="harabello") Sobre a Harabello

  %p Sediada em Natal/RN com filial em Mossoró/RN, a Harabello Turismo vem se firmando no mercado Norteriograndense, desde 1987, pela excelência no planejamento e organização de pacotes nacionais e internacionais. A estrutura da empresa é organizada de forma multifuncional, onde os setores se entrelaçam numa rede de atendimento integrada, de modo que os profissionais do setor de turismo compartilham conhecimentos, experiências e vivências, com o setor de eventos na logística, operacionalização e organização de congressos, seminários, encontros, reuniões, feiras e eventos de qualquer natureza.

  %p O setor corporativo, que atende empresas públicas e privadas, tanto no Rio Grande do Norte quanto na Paraíba, atua também de forma compartilhada com os outros setores da empresa, de maneira que o conhecimento seja sempre socializado e integrado a todos os setores, contribuindo para a excelência do atendimento.

  %p A empresa é credenciada a Abav (Associação Brasileira dos Agentes de Viagens), ao IATA (International Air Transport Association) e a Embratur (Empresa Brasileira de Turismo), destacando-se pela competência, credibilidade e idoneidade.

%h3 Localização
%ul
  %li
    %strong Loja Natal/RN
    %p Tel: + 55 (84) 3133.4141 - Av. Afonso Pena, 815- Tirol - harabello@harabello.com.br
  %li
    %strong Loja Mossoró/RN
    %p Tel: + 55 (84) 3316.1314 - PÇA Felipe Guerra, 12 - shop bc lj. 29 - Centro - harabello@harabello.com.br