---
layout: default
title: Patrocínio
---

%p
  O Oxente Rails é uma ótima oportunidade para você divulgar sua empresa junto a um público de desenvolvedores, estudantes e gerentes de empresas de tecnologia da informação de todo o Nordeste. Para maiores informações de como isso é possível, obtenha o nosso Plano de Marketing
  %a{ :href => "/pdf/PMK-Oxente Rails 2010.pdf"}
    %strong - AQUI!
  e escolha qual modalidade de patrocínio se adequa mais a sua empresa e entre em contato conosco pela página de 
  %a{ :href => "/contato"}
    %strong contatos do site
  ou pelo nosso
  %a{ :href => "mailto:contato@oxenterails.com"}
    %strong email: contato@oxenterails.com
    
%hr

%h3 Link direto para download:
    
%ul
  %li
    %strong Plano de Marketing
    (
    %a.no-bold{ :href => "/pdf/PMK-Oxente Rails 2010.pdf"}
      PMK - Oxente Rails 2010.pdf
    )