---
layout: default
title: Palestrantes
---

#guests
  %ul
    %li
      %img{ :width => "88", :height => "88", :alt => "pfagiani", :src => "images/guests/paulo.png"}
      %h3
        %a.url{ :href => "http://twitter.com/fagiani", :target => "_blank"}
          Paulo Fagiani
      %p Paulo Fagiani é o mais novo integrante e fundador da Tink! Ele é experiente em Desenvolvimento de Aplicações, Administração de Bancos de Dados e Redes. Interessado em diariamente desafiar tarefas que exijam soluções rápidas e confiáveis. xD 
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "anderson", :src => "images/guests/anderson.jpg"}
      %h3
        %a.url{ :href => "http://twitter.com/extendsmymind", :target => "_blank"}
          Anderson Dias
      %p O dono e proprietário dos mais famosos Perolex! Desenvolvedor de Sistemas, exerce o papel oficial de "Tester Man" da Tink! O que gosta e acha bom de ver a Tink! crescendo e se desenvolvendo cada vez mais.
      %p Ps.: Me vê um suco de laranja. [...] Mas, sem laranja!