---
layout: default
title: Contato
layout_type: internal_page 
---

%p Entre em contato conosco preenchendo corretamente todos os campos abaixo.
  
%form#contato{ :action => 'http://participe.de/events/oxente-rails-2010/contacts', :method => 'post' }
  %fieldset
    %label{:for => 'nome'} Nome:
    %input.text.required{ :id => 'nome', :name => 'nome' }
    %label{:for => 'email'} E-mail:
    %input.text.email.required{ :id => 'email', :name => 'email' }
    %label{:for => 'telefone'} Telefone:
    %input.text.required{ :id => 'telefone', :name => 'telefone' }
    %label{:for => 'mensagem'} Mensagem:
    %textarea.text.required{ :id => 'mensagem', :name => 'mensagem' }
    %br
    %br
    %input#enviar{ :name => 'submit', :value => 'enviar', :type => 'submit' }
