---
layout: default
title: Vídeos
layout_type: internal_page 
---
%p Abaixo você pode acompanhar a PlayList dos vídeos das chamadas para o Oxente Rails 2010. 
#videos
%object{ :width => "640", :height => "385" }
 %param{ :name => "movie", :value => "http://www.youtube.com/p/51AE9CC696207913&amp;hl=en_US&amp;fs=1" }
 %param{ :name => "allowFullScreen", :value => "true" }
 %param{ :name => "allowscriptaccess", :value => "always" }
 %embed{ :src => "http://www.youtube.com/p/51AE9CC696207913&amp;hl=en_US&amp;fs=1", :type => "application/x-shockwave-flash", :allowscriptaccess => "always", :allowfullscreen => "true", :width => "640", :height => "385" }
 
%p Obs.: Para ter acesso aos demais vídeos, clique no ícone ao lado do "Play", referente a PlayList, e visualize todos os outros vídeos do Oxente Rails 2010! Depois é só escolher qual deseja assistir!