---
layout: default
title: Patrocínio
layout_type: internal_page 
---

%p
  O Oxente Rails é uma ótima oportunidade para você divulgar sua empresa junto a um público de desenvolvedores, estudantes e gerentes de empresas de tecnologia da informação de todo o Nordeste. Para maiores informações de como isso é possível, obtenha o nosso Plano de Marketing
  %a{ :href => "/pdf/plano de marketing.pdf", :onclick => "javascript: pageTracker._trackPageview('/pdf/marketing-br'); "}
    %strong - AQUI!
  e escolha qual modalidade de patrocínio se adequa mais a sua empresa e entre em contato conosco pela página de 
  %a{ :href => "/contato"}
    %strong contatos do site
  ou pelo nosso
  %a{ :href => "mailto:contato@oxenterails.com"}
    %strong email: contato@oxenterails.com
    
%hr

%h3 Link direto para download:
    
%ul
  %li
    %strong Plano de Marketing
    (
    %a.no-bold{ :href => "/pdf/plano de marketing.pdf", :onclick => "javascript: pageTracker._trackPageview('/pdf/marketing-br'); "}
      plano de marketing.pdf
    )

%h2 Patrocinadores

%ul
  %li.pd_bottom
    %a{ :href => "http://www.locaweb.com.br/default.html", :target => "_blank"}
      %img.spon{ :src => "images/sponsors/locaweb.jpg", :title => "Locaweb", :alt => "Locaweb", :height => "68"}
    %p.desc Com 12 anos experiência a Locaweb oferece soluções de Internet, Data Center e Comunicação
  %li.pd_bottom
    %a{ :href => "http://www.plataformatec.com.br/", :target => "_blank"}
      %img.spon{ :src => "images/sponsors/plataforma.jpg", :title => "Plataforma", :alt => "Plataforma", :height => "68"}
    %p.desc Desenvolve aplicativos web e presta consultoria nas áreas de arquitetura de software, infra-estrutura de dados e deployment.
  %li.pd_bottom
    %a{ :href => "http://hashrocket.com/", :target => "_blank"}
      %img.spon{ :src => "images/sponsors/hashrocket2.jpg", :title => "HashRocket", :alt => "HashRocket", :height => "68"}
    %p.desc É um tipo diferente de empresa de design e desenvolvimento de software. HashRocket é fundada sob princípios de amor, família e respeito, disciplina, habilidade e orgulho.
