---
layout: default
title: Palestrantes
layout_type: internal_page 
---

#guests
  %ul
    %li
      %img{ :width => "86", :height => "86", :alt => "brando", :src => "images/guests/brando.png"}
      %h3
        %a{ :href => "http://www.nomedojogo.com/", :target => "_blank"}
          Carlos Brando
      %p
        Viciado em programação, atualmente é Diretor de Tecnologia da
        %a(href="http://amanaie.com.br/" target="_blank") Amanaiê
        e antes era Senior Engineer na
        %a(href="http://surgeworks.com/" target="_blank") Surgeworks LLC. 
        Atua na área de desenvolvimento de softwares há mais de dez anos. Possui um dos 
        %a(href="http://nomedojogo.com" target="_blank") blogs 
        mais conhecidos do Brasil sobre Ruby on Rails. Ele é ativo na comunidade brasileira de Ruby on Rails e participa em diversos projetos open-source. Já se apresentou em vários eventos brasileiros relacionados ao Ruby e também escreveu o 
        %a(href="http://www.nomedojogo.com/2008/06/09/new-free-book-ruby-on-rails-21-whats-new/" target="_blank") primeiro livro
        sobre Rails 2.1 do mundo, distribuído gratuitamente na Internet.
    %hr
    %li
      %img{ :width => "78", :height => "88", :alt => "akita", :src => "images/guests/akita.png"}
      %h3
        %a{ :href => "http://www.akitaonrails.com/", :target => "_blank"}
          Fabio Akita
      %p
        Um dos mais ativos evangelistas de Ruby on Rails da América Latina. Organizou e promoveu a primeira real conferência de Ruby on Rails no Brasil: RejectConf São Paulo ‘07, e mais recentemente organizou o 
        %a(href="http://www.railssummit.com.br/" target="_blank") Rails Summit Latin America em 2009. 
        Bloga regularmente em português e inglês no 
        %a(href="http://akitaonrails.com/" target="_blank") AkitaOnRails.com
        sobre desenvolvimento de software, Ruby on Rails, entre outras coisas. Ele também ajuda a evangelizar novas tecnologias e a Filosofia Ágil. 
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "tapajos", :src => "images/guests/tapajos.png"}
      %h3
        %a{ :href => "http://tapajos.me/", :target => "_blank"}
          Marcos Tapajós
      %p
        Trabalhou como consultor ágil e coach de equipes até 2008 e está atualmente trabalhando para a 
        %a(href="http://redeparede.com/" target="_blank") RedeParede
        e
        %a(href="http://www.improveit.com.br/" target="_blank") Improve It.
        Ele trabalha com Ruby on Rails desde 2006, foi co-autor do primeiro livro de Rails 2.1 e criou o plugin de internacionalização mais usado no Brasil. Também contribui para diversos projetos open source.
    %hr
    %li
      %img{ :width => "78", :height => "88", :alt => "teles", :src => "images/guests/vinicius.png"}
      %h3
        %a{ :href => "http://beonthe.net/criar_site_fazer_site/pagina/home", :target => "_blank"}
          Vinícius Teles
      %p 
        Fundador da consultoria
        %a(href="http://www.improveit.com.br/" target="_blank") Improve It.
        Ele escreveu o primeiro livro brasileiro de XP e trabalhou como coach e mentor de XP por muitos anos. Ele vem desenvolvendo com Rails desde 2006. No fim de 2007 ele mudou sua empresa para um novo modelo de negócios, transformando a Improve It em uma empresa de produtos web. Ele agora se sustenta com assinaturas dos clientes de seu principal produto, o 
        %a(href="http://beonthe.net/" target="_blank")Be on the Net. 
