---
layout: default
title: Contato
layout_type: internal_page 
---

%p Entre em contato conosco preenchendo corretamente todos os campos abaixo.
  
%form#contato{ :action => 'http://participe.de/events/oxente-rails-2010/contacts', :method => 'post' }
  %fieldset
    %label Nome:
    %input.text.required{ :name => 'nome' }
    %label E-mail:
    %input.text.email.required{ :name => 'email' }
    %label Telefone:
    %input.text.required{ :name => 'telefone' }
    %label Mensagem:
    %textarea.text.required{ :name => 'mensagem' }
    %br
    %br
    %input#enviar{ :name => 'submit', :value => 'enviar', :type => 'submit' }
