---
layout: default
title: Palestrantes
layout_type: internal_page 
---

#guests
  %ul
    %li
      %img{ :width => "86", :height => "86", :alt => "adriano", :src => "images/guests/adriano.jpg"}
      %h3(id="adriano")
        %a{ :href => "http://caelum.com.br", :target => "_blank"}
          Adriano Almeida
      %p 
        É bacharelando em Sistemas de Informação pela Faculdade de Informática e Administração Paulista e é programador Java certificado pela Sun. Desenvolve sistemas em Java para web e atualmente é desenvolvedor, consultor e instrutor da Caelum.
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Aldinho", :src => "images/guests/aldo.jpg"}
      %h3(id="aldinho")
        %a{ :href => "http://twitter.com/aldofilho", :target => "_blank"}
          Aldinho
      %p 
        Em 2009 entrei no mundo Rails. Comecei jogando brinde pra galera no Oxente Rails, onde prometi fazer um blog em 15 minutos.
        Larguei o vício em jogos e passei uns meses aprendendo a programar pra fazer o blog que apresentei no Rails Summit.
        Em 2010 caí na desgraça de novo e voltei pros malditos jogos, e agora tô de volta aqui no Oxente Rails.
        Ah, e eu tenho um irmão chamado Elomar, mais conhecido como "irmão do Aldinho"
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Alê Gomes", :src => "images/guests/alegomes.jpg"}
      %h3(id="ale")
        %a{ :href => "http://twitter.com/alegomes", :target => "_blank"}
          Alê Gomes
      %p 
        Alexandre já comeu o pão que o diabo amassou e colhe agora os frutos de uma vida sofrida. Programando desde os 15 anos de idade, viveu os tempos áureos do dBaseIII, do Lotus1-2-3, FoxPro, Clipper e Sidequick. Profissionalizou-se em 96 com a curiosa tecnologia Java e nela fez carreira. Trabalhou em pequenas, médias e grandes empresas, públicas e privadas, nacionais e internacionais. Vestiu terno e gravata, posou de consultor, certificou-se até o limite e perdeu a conta de quantos relatórios foi condenado a fazer. Pobre Alexandre. O mundo corporativo não é fácil. Mas a vida é uma caixinha de surpresas e foi num golpe do acaso que um admirável mundo novo lhe foi apresentado. Em 2003, empreendeu e tornou-se dono de seu próprio destino. Desde então, é levado por suas crenças, valores e princípios. Nunca mais submeteu-se a caprichos hierárquicos, regras obtusas ou equívocos tecnológicos. Aprendeu a viver uma vida de equilíbrio. Pratica esportes regularmente, leciona numa universidade da capital e ainda reserva tempo para a tradicional roda de choro semanal com os amigos da música. Este é Alexandre. Mineiro de nascença, brasiliense de coração, geek por opção.
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "Carlos Brando", :src => "images/guests/brando.png"}
      %h3(id="brando")
        %a{ :href => "http://www.nomedojogo.com/", :target => "_blank"}
          Carlos Brando
      %p
        Viciado em programação, atualmente é Diretor de Tecnologia da
        %a{ :href => "http://amanaie.com.br/", :target => "_blank"} Amanaiê
        e antes era Senior Engineer na
        %a{ :href => "http://surgeworks.com/", :target => "_blank"} Surgeworks LLC. 
        Atua na área de desenvolvimento de softwares há mais de dez anos. Possui um dos 
        %a{ :href => "http://nomedojogo.com", :target => "_blank"} blogs 
        mais conhecidos do Brasil sobre Ruby on Rails. Ele é ativo na comunidade brasileira de Ruby on Rails e participa em diversos projetos open-source. Já se apresentou em vários eventos brasileiros relacionados ao Ruby e também escreveu o 
        %a{ :href => "http://www.nomedojogo.com/2008/06/09/new-free-book-ruby-on-rails-21-whats-new/", :target => "_blank"} primeiro livro
        sobre Rails 2.1 do mundo, distribuído gratuitamente na Internet.
    %hr
    %li
      %img{ :width => "80", :height => "89", :alt => "Caike Souza", :src => "images/guests/caike.jpg"}
      %h3(id="caike")
        %a{ :href => "http://twitter.com/caike", :target => "_blank"}
          Caike Souza
      %p
        Procura dividir seu tempo entre o computador e suas guitarras.
        Quando no computador, quase sempre está desenvolvendo aplicações em Ruby e Rails com a
        %a{ :href => "http://envylabs.com/", :target =>"_blank"} EnvyLabs,
        na Flórida.
        Possui todos os níveis de certificações MBP (Mesa de Bar Practitioner) e está sempre disposto a participar de um Coding Dojo.
    %hr
    %li
      %img{ :width => "86", :height => "89", :alt => "Carlos Eduardo", :src => "images/guests/eduardo.jpg"}
      %h3(id="eduardo")
        %a{ :href => "http://www.egenial.com.br/", :target => "_blank"}
          Carlos Eduardo
      %p
        Carlos Eduardo é diretor proprietário da 
        %a{ :href => "http://www.egenial.com.br/", :target => "_blank"}e-Genial Soluções Inteligentes, 
        uma das empresas pioneiras em desenvolvimento de aplicações RIA e treinamentos on-line de tecnologias como Ruby on Rails e Flex.
        Criador do
        %a{ :href => "http://www.treinatom.com.br/", :target => "_blank"} Treina TOM 
        uma das primeiras ferramentas criadas no Brasil com estas tecnologias integradas com Flash Media Server. 
        É através desta ferramenta que ele sempre esta criando eventos on-line que ajudam a compartilhar informações sobre tecnologias com pessoas e empresas do Brasil inteiro de forma totalmente gratuita. Grande evangelizador destas tecnologias tem vários artigos publicados em sites e revistas e é membro ativo de várias comunidades de desenvolvimento web.
    %hr
    %li
      %img{ :width => "67", :height => "87", :alt => "Cauê Guerra", :src => "images/guests/caue.png"}
      %h3(id = "caue")
        %a{ :href => "http://twitter.com/caueguerra", :target => "_blank"}
          Cauê Guerra
      %p
        Cientista da computação formado pelo IME-USP, desenvolve em Java e Ruby on Rails há 2 anos. Trabalhou como desenvolvedor, instrutor e consultor pela
        %a{ :href => "http://caelum.com.br/", :target => "_blank"} Caelum
        e atualmente é consultor da
        %a{ :href => "http://thoughtworks.com/", :target => "_blank"} ThoughtWorks
        na Austrália.
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Cecília Fernandes", :src => "images/guests/cecifernandes.png"}
      %h3(id = "cecilia")
        %a{ :href => "http://twitter.com/cecifernandes", :target => "_blank"}
          Cecília Fernandes
      %p
        Desenvolvedora, consultora e instrutora pela
        %a{ :href => "http://caelum.com.br/", :target => "_blank"} Caelum,
        é responsável pelo curso de gerenciamento ágil e participa de projetos, tanto comerciais quanto open source, utilizando diariamente métodos ágeis.
        Desenvolveu como trabalho de conclusão de curso no IME-USP um software para gerenciamento de projetos ágeis, e o envolvimento com a área aconteceu anos antes, através de eXtreme Programming, então Scrum e, mais tarde, Lean.
        Além disso, atualmente, trabalha como consultora na implantação de métodos ágeis e entendimento da cultura ágil, enquanto estuda outras metodologias e promove a utilização de Lean dentro da Caelum.
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Daniel Cukier", :src => "images/guests/daniel.jpg"}
      %h3(id="cukier")
        %a{ :href => "http://www.agileandart.com", :target => "_blank"}
          Daniel Cukier
      %p
        Trabalha com desenvolvimento de software desde 1995. É mestre em Ciência da Computação pela Universidade de São Paulo com a tese Padrões para Introduzir Novas Ideias na Indústria de Software (<a href='http://vimeo.com/4766693' target='_blank'>http://vimeo.com/4766693</a>). Ativo na comunidade ágil desde 2005, quando ingressou na <a href='www.agilcoop.org.br' target='_blank'>Agilcoop</a>, produzindo podcasts, artigos e ministrando cursos sobre agilidade. Introduziu o uso de Métodos Ágeis na Locaweb, maior empresa de hosting da America Latina, onde trabalha hoje como gerente de desenvolvimento de software. Também é autor do blog <a href='www.agileandart.com' target='_blank'>http://www.agileandart.com</a>, onde costuma escrever sobre as semelhanças entre desenvolvimento de software e as artes. Além da presença na área de software, trabalha com teatro, música e poesia, tendo recentemente publicado seu primeiro livro, entitulado "Para Todos".
    %hr
    %li
      %img{ :width => "86", :height => "96", :alt => "Daniel Lopes", :src => "images/guests/lopes.png"}
      %h3(id="lopes")
        %a{ :href => "http://areacriacoes.com.br/", :target => "_blank"}
          Daniel Lopes
      %p
        Trabalha com TI a mais de 8 anos, é técnico e bacharel em sistemas de informação além de ser o responsável por ministrar desenvolvimento web na pós graduação em 
        %a{ :href => "http://www.una.br/curso/pos-graduacao-mba-especializacao/pos-graduacao-em-engenharia-de-software-centrada-em-metodos-ageis", :target => "_blank"}
          Eng. de Software Centrada em Métodos Ágeis da UNA-BH.
        Trabalha tempo integral com Ruby desde o início de 2007
        Fundador da 
        %a{ :href => "http://areacriacoes.com.br/", :target => "_blank"}
          Area, 
        empresa especializada em soluções web e design de UI que utiliza Ruby como principal tecnologia inclusive para em seus próprios produtos como o 
        %a{ :href => "http://cifrascash.com/", :target => "_blank"}
          Cifras.
        Já treinou mais de 440 alunos pela 
        %a{ :href => "http://www.egenial.com.br/", :target => "_blank"}
          EGenial, 
        atualmente sendo responsável pelos cursos de 
        %a{ :href => "http://www.egenial.com.br/cursorails", :target => "_blank"}
          Rails do Básico ao Avançado 
        e 
        %a{ :href => "http://www.egenial.com.br/imersaorubyonrails", :target => "_blank"}
          Ruby Imersão.
        É Membro ativo do 
        %a{ :href => "http://railsmg.org/", :target => "_blank"}
        RailsMG 
        além de já ter tido o prazer de palestrar sobre temas relacionados ao Ruby mais de 10 vezes. 
        Escreve semanalmente no 
        %a{ :href => "http://blog.areacriacoes.com.br/", :target => "_blank"}
          blog.areacriacoes.com.br.
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "dhh", :src => "images/guests/dhh.jpg"}
      %h3(id="dhh")
        %a{ :href => "http://37signals.com/", :target => "_blank"}
          David Heinemeier Hansson
      %p
        David é um parceiro da
        %a{ :href => "http://37signals.com/", :target => "_blank"} 37signals,
        e o criador do framework para aplicações web
        %a{ :href => "http://rubyonrails.org/", :target => "_blank"} Ruby on Rails. 
        Pelo seu trabalho em Rails, ele ganhou o prêmio de Melhor Hacker do Ano de 2005 
        %a{ :href => "http://osdir.com/Article6677.phtml", :target => "_blank"} na OSCON da Google e O'Reilly.
        E em 2006, ele recebeu o prêmio Jolt de excelência de produto para o Rails 1.0. Ele é o co-autor dos livros
        %a{ :href => "http://gettingreal.37signals.com/", :target => "_blank"} Getting Real
        (mais 40.000 cópias vendidas) e
        %a{ :href => "http://pragprog.com/titles/rails3/agile-web-development-with-rails-third-edition", :target => "_blank"} Agile Web Development with Rails
        (mais 100,000 cópias vendidas).
    %hr
    %li
      %img{ :width => "86", :height => "75", :alt => "David Paniz", :src => "images/guests/paniz.jpg"}
      %h3(id="paniz")
        %a{ :href => "http://caelum.com.br", :target => "_blank"}
          David Paniz
      %p
        É graduado e pós-graduado pela Faculdade de Informática e Administração Paulista e possui aproximadamente 4 anos de experiência com desenvolvimento de software, sendo quase 2 na Caelum. Adora aprender novas tecnologias e desenvolver para a Web. É consultor e instrutor da Caelum.
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "David William", :src => "images/guests/david-william.jpg"}
      %h3(id="david")
        %a{ :href => "http://twitter.com/davidwilliam_t", :target => "_blank"}
          David William
      %p
        Possui 12 anos de experiência com desenvolvimento de software, inicialmente prestando serviços como autônomo, atendendo empresas do Rio Grande do Norte, de outros estados brasileiros e dos Estados Unidos.
        Passou por diversas empresas do setor privado, atuando como desenvolvedor web e analista de sistemas, até ocupar o cargo de gerente de TIC do Governo do Estado do Rio Grande do Norte, onde foi Subcoordenador de Gestão do Acesso e Uso da Internet.
        A experiência acumulada e as lições aprendidas serviram de encorajamento para a abertura da Webhall Tecnologia da Informação da qual é sócio-diretor, acreditando firmemente no potencial de negócios da empresa e na capacidade de transformação de competência em resultados plenamente satisfatórios.
        Atualmente tem maior foco no trabalho no desenvolvimento de sistemas utilizando tecnologia americana/japonesa de Identificação por Rádio Frequência (RFID) para curta e longa distância, bem como o desenvolvimento de sistemas para provas de conceito e prototipagem.
    %hr
    %li
      %img{ :width => "78", :height => "88", :alt => "akita", :src => "images/guests/akita.png"}
      %h3(id="akita")
        %a{ :href => "http://www.akitaonrails.com/", :target => "_blank"}
          Fabio Akita
      %p
        Um dos mais ativos evangelistas de Ruby on Rails da América Latina. Organizou e promoveu a primeira real conferência de Ruby on Rails no Brasil: RejectConf São Paulo ‘07, e mais recentemente organizou o 
        %a{ :href => "http://www.railssummit.com.br/", :target => "_blank"} Rails Summit Latin America em 2009. 
        Bloga regularmente em português e inglês no 
        %a{ :href => "http://akitaonrails.com/", :target => "_blank"} AkitaOnRails.com
        sobre desenvolvimento de software, Ruby on Rails, entre outras coisas. Ele também ajuda a evangelizar novas tecnologias e a Filosofia Ágil. 
    %hr
    %li
      %img{ :width => "86", :height => "96", :alt => "kung", :src => "images/guests/kung.png"}
      %h3(id="kung")
        %a{ :href => "http://www.fabiokung.com/", :target => "_blank"}
          Fabio Kung
      %p
        Fabio Kung é gerente e líder técnico de Cloud Computing na Locaweb e Engenheiro da Computação pela Escola Politécnica da USP. Além de dar aulas na Caelum, está sempre envolvido em eventos de tecnologia como o Rails Summit, Ruby e Rails no Mundo Real e FISL. Apaixonado por linguagens de programação, máquinas virtuais e compiladores, trabalhou com Java e Web na Alemanha e é bastante envolvido com comunidades de desenvolvimento no Brasil, principalmente de Ruby, Java e Cloud Computing. Também adora open source e é membro de alguns projetos como VRaptor, GUJ, Caelum Stella e JettyRails.
    %hr
    %li
      %img{ :width => "86", :height => "91", :alt => "Geoffrey Grosenbach", :src => "images/guests/geoffrey.png"}
      %h3(id="boss")
        %a{ :href => "http://www.topfunky.com/", :target => "_blank"}
          Geoffrey Grosenbach
      %p
        Geoffrey Grosenbach tem projetado e desenvolvido aplicações web desde 1997. Ele hospeda o
        %a{ :href => "http://podcast.rubyonrails.org/"} Ruby on Rails Podcast
        de sua casa em Seattle, WA.
        Ele irá palestrar no
        %a{ :href => "http://www.canadaonrails.ca/"} Canadá on Rails
        e nas próximas conferências sobre Rails este ano.
        Sua biblioteca de gráficos Gruff para Ruby está em uso em muitas das aplicações poderosas Rails ao redor do mundo. 
        Ele está escrevendo dois capítulos para um próximo livro sobre Desenvolvimento Rails, a ser publicado no livro
        %a{ :href => "http://www.pragprog.com/the-pragmatic-programmer"} Pragmatic Programmers.
        Você pode manter-se informado sobre os trabalhos atuais dele, e de suas epifanias Rails no
        %a{ :href => "http://nubyonrails.com/", :target => "_blank"} Nuby on Rails
        ou contatá-lo através do
        %a{ :href => "http://topfunky.com/", :target => "_blank"} Topfunky Corporation.
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Henrique Bastos", :src => "images/guests/henrique.png"}
      %h3(id="henrique")
        %a{ :href => "http://henriquebastos.net/", :target => "_blank"}
          Henrique Bastos
      %p 
        Henrique é apaixonado por desenvolvimento de software! Trabalha como diretor de tecnologia na Myfreecomm, criando sistemas com Métodos Ágeis, Python e Software Livres. Está constantemente presente nas comunidades de software organizando eventos e encontros, ministrando palestras, cursos e evangelizando o desenvolvimento sustentável de software, no Brasil e no exterior. Dentre muitas iniciativas, foi um dos organizadores do Dev in Rio 2009 e das caravanas PythonCampus que visitam universidades promovendo a integração entre alunos e o mercado de tecnologia através de software livre.
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Hugo Baraúna", :src => "images/guests/hugo.jpg"}
      %h3(id="hugo")
        %a{ :href => "http://plataformatec.com.br", :target => "_blank"}
          Hugo Baraúna
      %p 
        Hugo (<a href="http://twitter.com/hugobarauna">@hugobarauna</a>) é desenvolvedor Ruby e Rails desde 2007. Sua carreira como engenheiro de software começou no curso de Eng. de Computação da Escola Politécnica da USP. Ainda durante a graduação, teve a oportunidade de trabalhar no laborarório USP-Microsoft. Em seguida, atuou nas multinacionais Sonda Procwork e IBM. Durante estes anos, Hugo trabalhou com as tecnologias .NET e Java. Atualmente, como co-fundador da Plataforma Tecnologia (<a href="http://plataformatec.com.br">empresa de consultoria especializada em Ruby e Rails</a>), ele é responsável em disseminar e implementar boas práticas de desenvolvimento e gerenciamento de projetos de software.
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Juan Bernabó", :src => "images/guests/bernabo.jpg"}
      %h3(id="bernabo")
        %a{ :href => "http://teamware.com.br", :target => "_blank"}
          Juan Bernabó
      %p 
        Juan Esteban Bernabó é Fundador, Certified Scrum Master e Agile Practice Leader da TeamWare do Brasil,
        uma empresa de consultoria focada em auxiliar organizações de desenvolvimento de software a otimizar seus processos,
        criar ativos de software, implantar processos ágeis e utilizar de forma eficaz a tecnologia de objetos.
        Também é fundador da Agile Alliance Brasil e trabalha há mais de 17 anos em desenvolvimento de equipes de software
        altamente eficazes, definição de produtos, projetos, gerenciamento e coordenação de equipes de 
        desenvolvimento, arquitetura de produtos, arquitetura de software, definição de políticas de
        reuso e avaliação de produtos OpenSource para integrar com produtos comerciais
    %li
      %img{ :width => "86", :height => "88", :alt => "José Valim", :src => "images/guests/valim.png"}
      %h3(id="valim")
        %a{ :href => "http://plataformatec.com.br", :target => "_blank"}
          José Valim
      %p
        José Valim (<a href="http://twitter.com/josevalim" target="_blank">@josevalim</a>) é co-fundador da Plataforma Tecnologia (<a href="http://twitter.com/plataformatec" target="_blank">@plataformatec</a>) e membro do Rails Core. Ele começou a programar em Ruby e Rails em 2006 e desde então já contribuiu em diversos projetos Open Source. Em 2009, participou do Google Summer of Code, iniciando uma série de contribuições ao Rails 3 que o levaria a ser convidado para ser membro do Rails Core meses depois. Ultimamente, tem voado constantemente entre Brasil e Polônia, país em que mora com sua esposa polonesa. Reza a lenda que é durante estes vôos que o Valim aproveita para criar novos projetos open source da Plataforma Tecnologia. Acompanhe o blog deles para saber mais sobre a as suas ferramentas open source para Rails 3. 
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Leandro Silva", :src => "images/guests/leandro.png"}
      %h3(id="leandro")
        %a{ :href => "http://twitter.com/codezone", :target => "_blank"}
          Leandro Silva
      %p 
        Leandro Silva está envolvido com desenvolvimento de software desde 1997 e, definitivamente, é apaixonado por esse negócio.
        Atualmente é gerente de desenvolvimento na
        %a{ :href => "http://www.locaweb.com.br", :target => "_blank"} Locaweb 
        e, quando o tempo lhe permite, dá aulas de Arquitetura de Sistemas e Java na
        %a{ :href => "http://caelum.com.br/", :target => "_blank"} Caelum,
        mantém e contribui com alguns projetos open source e escreve sobre agilidade, liderança e linguagens de programação em seu blog (CødeZøne!).
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "tapajos", :src => "images/guests/tapajos.png"}
      %h3(id="tapajos")
        %a{ :href => "http://tapajos.me/", :target => "_blank"}
          Marcos Tapajós
      %p
        Trabalhou como consultor ágil e coach de equipes até 2008 e está atualmente trabalhando para a 
        %a{ :href => "http://redeparede.com/", :target => "_blank"} RedeParede
        e
        %a{ :href => "http://www.improveit.com.br/", :target => "_blank"} Improve It.
        Ele trabalha com Ruby on Rails desde 2006, foi co-autor do primeiro livro de Rails 2.1 e criou o plugin de internacionalização mais usado no Brasil. Também contribui para diversos projetos open source.
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "mauricio", :src => "images/guests/mauricio.png"}
      %h3(id="mauricio")
        %a{ :href => "http://bloobox.com.br/", :target => "_blank"}
          Mauricio Linhares
      %p
        Maurício Linhares é graduado em Desenvolvimento de Software pelo CEFET e trabalha com tecnologia a mais de 6 anos, com foco especial em Java e Ruby, tendo desenvolvido desde servidores de billing em telecom a redes sociais de nicho. 
        Trabalha com Rails desde 2006, quando começou a prestar consultoria pra empresas estrangeiras e hoje é engenheiro de software da OfficeDrop.com, uma empresa americana especializada em gestão de documentos digitais e Lead Developer da 
        %a{ :href => "http://bloobox.com.br/", :target => "_blank"}
          BlooBox 
        uma startup brasileira especializada em sinalização digital. Tem uma larga experiência no desenvolvimento de aplicações web e gestão de projetos ágeis com Scrum e XP.
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "nando", :src => "images/guests/nando.jpg"}
      %h3(id="nando")
        %a{ :href => "http://nandovieira.com.br/", :target => "_blank"}
          Nando Vieira
      %p
        :markdown
          [Nando Vieira](http://nandovieira.com.br) escreve sobre Rails desde 2006 no [Simples Ideias](http://simplesideias.com.br), um dos blogs mais conhecidos sobre o assunto no Brasil.
          Atualmente trabalha na Locaweb, mas já passou por empresas como UOL e Abril.
          Já palestrou em diversos eventos relacionados a desenvolvimento como Rails Summit, Ceará on Rails e DevInSampa.
          É também o fundador do [Spesa](http://spesa.com.br), além de manter [dezenas de projetos](http://github.com/fnando).
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "Pedro Belo", :src => "images/guests/pedro.jpg"}
      %h3(id="belo")
        %a{ :href => "http://twitter.com/ped", :target => "_blank"}
          Pedro Belo
      %p
        Adotou Ruby em 2005, quando registrou e manteve as primeiras versões do
        %a{ :href => "http://rubyonrails.com.br", :target => "_blank"} Ruby on Rails Brasil.
        Trabalhou como consultor no Brasil e em Los Angeles, até se juntar ao 
        %a{ :href => "http://heroku.com", :target => "_blank"} Heroku
        em 2008 - onde desempenha tarefas diversas, que vão do suporte a
        %a{ :href => "http://nodejs.org", :target => "_blank"} node.js
        até longas noites jogando poker ou Starcraft com colegas de trabalho. Atualmente mora em São Francisco, mas está pronto para ouvir piadas sobre a cidade, e para explicar a pronúncia correta de "Heroku".
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "Rafael Lima", :src => "images/guests/rafael.jpg"}
      %h3(id="rafael")
        %a{ :href => "http://bielsystems.com.br", :target => "_blank"}
          Rafael Lima
      %p
        Sócio Fundador da 
        %a{ :href => "http://bielsystems.com.br", :target => "_blank"} BielSystems
        e da 
        %a{ :href => "http://empreendaweb.com.br", :target => "_blank"} Empreenda Web 
        e Diretor da 
        %a{ :href => "http://myfreecomm.com.br", :target => "_blank"} Myfreecomm,
        trabalha com desenvolvimento de software há mais de 10 anos. Programa, mas hoje atua basicamente na gestão e no nível estratégico dos projetos que participa. Escolheu Ruby on Rails para todos os aplicativos desenvolvidos pela BielSystems.
    %hr
    %li
      %img{ :width => "80", :height => "90", :alt => "Rafael Rosa Fu", :src => "images/guests/rosafu.jpg"}
      %h3(id="rosafu")
        %a{ :href => "http://rubyinside.com.br", :target => "_blank"}
          Rafael Rosa Fu
      %p
        Trabalha desde 1995 com desenvolvimento de software, já trabalhou
        com várias linguagens e plataformas de programação (COBOL, Clipper,
        Delphi, .NET) e, desde que conheceu o Ruby e o Agile Manifesto sua vida
        ficou muito melhor. Participa ativamente da comunidade Ruby, ajuda na
        organização do Guru-SP, é um dos editores do Ruby Inside Brasil e
        palestrou falando sobre Ruby, Rails, Agile e as comunidades em torno
        delas. Atualmente trabalha na Locaweb como coordenador do produto
        Cloud Computing.
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "Rodrigo Franco", :src => "images/guests/franco.jpg"}
      %h3(id="franco")
        %a{ :href => "http://rodrigofranco.com", :target => "_blank"}
          Rodrigo Franco
      %p
        Rodrigo Franco (Caffo), trabalha com internet desde a epoca de BBS, desenhando e construindo aplicacoes web e outras alegorias.
        Começou a brincar com o rails na versao 0.7 e criou a lista
        %a{ :href => "http://groups.google.com/group/rails-br", :target => "_blank"} rails-br
        em fevereiro de 2005.
        Tem prestado servicos para várias empresas estrangeiras desde entao, incluindo a
        %a{ :href => "http://obvious.com/", :target => "_blank"} Obvious
        (Odeo/Twitter) e o
        %a{ :href => "http://grasshoppergroup.com/", :target => "_blank"} Grupo Grasshopper
        (Chargify/Labs).
        Alem disso ele desenvolve produtos como o
        %a{ :href => "http://moourl.com/", :target => "_blank"} Moourl
        com a marca Flexcode.
    %hr
    %li
      %img{ :width => "80", :height => "90", :alt => "Sylvestre Mergulhão", :src => "images/guests/sylvestre.jpg"}
      %h3(id="mergulhao")
        %a{ :href => "http://", :target => "_blank"}
          Sylvestre Mergulhão
      %p
        :markdown
          Membro atuante da comunidade [#horaextra](http://horaextra.org) do Rio de Janeiro.
          Mantém o blog pessoal [mergulhao.info](http://mergulhao.info).
          CTO do site de classificados [Redeparede](http://redeparede.com.br).
          Fundou em 2010 a [Helabs Consulting](http://helabs.com.br) para entrar no mercado de consultoria e metodologias Ágeis.
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "thais", :src => "images/guests/thais.png"}
      %h3(id="thais")
        %a{ :href => "http://tcamilo.wordpress.com", :target => "_blank"}
          Thais Camilo
      %p
        Brasileira, formada em Ciência da Computação. Mudou-se para Santiago para trabalhar no escritório da Hashrocket Chile. Membro do DevChix, busca encontrar e tornar as mulheres desenvolvedoras de software mais participativas em comunidades. Entusiasta de TDD, BDD e pair programming é mentora de alguns estudantes de Ciência da Computação no Brasil e Estados Unidos.
    %hr
    %li
      %img{ :width => "78", :height => "88", :alt => "vinicius", :src => "images/guests/vinicius.png"}
      %h3(id="vinicius")
        %a{ :href => "http://beonthe.net/criar_site_fazer_site/pagina/home", :target => "_blank"}
          Vinícius Teles
      %p 
        Fundador da consultoria
        %a{ :href => "http://www.improveit.com.br/", :target => "_blank"} Improve It.
        Ele escreveu o primeiro livro brasileiro de XP e trabalhou como coach e mentor de XP por muitos anos. Ele vem desenvolvendo com Rails desde 2006. No fim de 2007 ele mudou sua empresa para um novo modelo de negócios, transformando a Improve It em uma empresa de produtos web. Ele agora se sustenta com assinaturas dos clientes de seu principal produto, o 
        %a{ :href => "http://beonthe.net/", :target => "_blank"} Be on the Net. 

