---
layout: default
title: Local
layout_type: internal_page 
javascript_imports: jquery.fancybox-1.3.1.pack single_img
---

%a(href = "http://www.praiamarnatal.com.br/index2.php" title="Clique aqui e entre no site do Praiamar" target="_blank")
  #local
    %img{ :title => "Praiamar Natal Hotel & Convention", :src=> "images/fachada-praimar.jpg", :alt => "Praiamar Natal Hotel & Convention", :align => "left", :width => "478", :height => "318" }
    .clear
    %h3 Praiamar Natal Hotel & Convention
  .clear

%p O Praiamar está localizado numa das mais belas praias do nordeste brasileiro, Ponta Negra, uma traquila enseada de águas mornas contemplada pela beleza do Morro do Careca, o cartão postal mais conhecido de Natal.

%p Possui o mais novo e moderno Centro de Convenções e Eventos de Natal. São mais de 4.000 m&sup2; de área com recursos tecnológicos de audiovisual, climatização, acústica, segurança e sistema de multifacetação de áreas de última geração. Através de divisórias articuláveis de ambiente, som e clima, a área geral imediatamente é dividida, e cada uma delas passa a receber toda a rede de serviços.

%p O projeto do Centro de Eventos Praiamar contemplou um espaço de 1.000 m&sup2; para exposições, comportando a montagem de estandes, com todo o conforto para exposição e público.

%p
  %strong
    %u Localização:
%ul.ul_disc
  %li 14km do Aeroporto
  %li 12km do Centro da Cidade
  %li Acesso exclusivo à praia
%p
  %strong
    %u Planta-baixa do local:
%p
  %a{ :id => "single_img", :href => "images/plantabaixa-praiamar.jpg"}
    %img{ :title => "Planta Baixa do Praiamar Hotel & Convention", :src => "images/plantabaixa-praiamar.jpg", :alt => "Planta Baixa do Praiamar Hotel & Convention", :align => "center", :width => "500"}
%p
  %strong
    %u Fotos do local:
    
#fotos-local
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto01.jpg"}
    %img{ :title => "Auditório Praiamar", :src=> "images/local/foto01.jpg", :alt => "Auditório Praiamar", :align => "left", :height => "107"}
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto02.png"}  
    %img{ :title => "Espaço para exposições Praiamar", :src=> "images/local/foto02.png", :alt => "Espaço para exposições Praiamar", :align => "left", :height => "107" }
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto03.jpg"}
    %img{ :title => "Espaço para coffe-break Praiamar", :src=> "images/local/foto03.jpg", :alt => "Espaço para coffe-break Praiamar", :align => "left", :height => "107" }
  %br
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto04.png"}
    %img{ :title => "Auditório Praiamar - Vista Frontal", :src => "images/local/foto04.png", :alt => "Auditório Praiamar - Vista Frontal", :align => "left", :height => "107"}
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto05.jpg"}
    %img{:title => "Espaço para Expositores", :src => "images/local/foto05.jpg", :alt => "Espaço para Expositores", :align => "left", :height => "107"}
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto06.jpg"}
    %img{ :title => "Salão para coffe-break Praiamar", :src=> "images/local/foto06.jpg", :alt => "Salão para coffe-break Praiamar", :align => "left", :height => "107" }
.clear
