---
layout: default
title: Agenda
layout_type: internal_page  
---

%h3 Palestras sobre:
.grid_9
  .temas.grid_3
    %h4 Rails
    %ul
      %li
        %img{ :width => "78", :height => "86", :alt => "David Heinemeier Hansson", :src => "images/guests/dhh.jpg"}
        %h5 DHH
        %span Perguntas e respostas sobre o Rails 3
      %li
        %img{ :width => "78", :height => "86", :alt => "Fábio Akita", :src => "images/guests/akita.png"}
        %h5 Fábio Akita
        %span As últimas novidades do mundo Ruby
      %li
        %img{ :width => "78", :height => "86", :alt => "Dr. Nic Williams", :src => "images/guests/drnic.png"}
        %h5 Dr. Nic
        %span Contribuindo com Open Source
      %li
        %img{ :width => "78", :height => "86", :alt => "Marcos Tapajós", :src => "images/guests/tapajos.png"}
        %h5 Tapajós
        %span NoSQL on Rails
      %li
        %img{ :width => "78", :height => "86", :alt => "Geoffrey Grosenbach", :src => "images/guests/geoffrey.png"}
        %h5 Geoffrey Grosenbach
        %span 
      %li
        %img{ :width => "78", :height => "86", :alt => "Fabio Kung", :src => "images/guests/kung.png"}
        %h5 Fabio Kung
        %span 

  .temas.grid_3.alpha
    %h4 Agilidade
    %ul
      %li
        %img{ :width => "78", :height => "86", :alt => "Vinicius Telles", :src => "images/guests/vinicius.png"}
        %h5 Vinicius Teles
        %span Fuja da escravidão
      %li
        %img{ :width => "78", :height => "86", :alt => "Thais Camilo", :src => "images/guests/thais.png"}
        %h5 Thais Camilo
        %span Dia-a-dia de uma rocketeer
      %li
        %img{ :width => "78", :height => "86", :alt => "Cauê Guerra", :src => "images/guests/caue.png"}
        %h5 Cauê Guerra
        %span 
      %li

  .temas.grid_3.omega
    %h4 Empreendendorismo
    %ul
      %li
        %img{ :width => "78", :height => "86", :alt => "Carlos Brando", :src => "images/guests/brando.png"}
        %h5 Brando
        %span Criando uma carreira notável em desenvolvimento de software
      %li
        %img{ :width => "78", :height => "86", :alt => "Henrique Bastos", :src => "images/guests/henrique.png"}
        %h5 Henrique Bastos
        %span Empreendendo uma comunidade de sucesso
      %li
        %img{ :width => "78", :height => "86", :alt => "Ale Gomes", :src => "images/guests/alegomes.jpg"}
        %h5 Ale Gomes
        %span Start you up - não basta desenvolver, tem que empreender
          

.clear
%h3 Tá pensando que acabou? Tá enganado!
.grid_9
  .atividades.grid_3
    %h4 Dojo
    %p Atividade de programação que visa usar TDD e programação em par para resolver um problema proposto
  .atividades.grid_3.alpha
    %h4 Open Spaces
    %p Espaço aberto para diversas discussões
  .atividades.grid_3.omega
    %h4 Desconferência
    %p Apresentação de pequenas palestras sobre assuntos fora da grade que normalmente apresentadas no final do dia.

