---
layout: default-en
title: Photos
layout_type: internal_page 
category: en
javascript_imports: mootools-v1.2 slimbox browser.extras browser.Extras.setQueryStringValues picasaViewer
---

%div#content-container			
  %h1 Albúm Oxente Rails
  %div#navigate
  %div#photos
