---
layout: default-en
title: Program
layout_type: internal_page
category: en  
---

%table#programacao
  %tr#date
    %td.col-a(colspan=4) 08/06 FRIDAY
  %tr#topicos
    %td.col-a Time
    %td.col-a Room A
    %td.col-a Room B
    %td.col-a Room C
  %tr#linha
    %td.col-a 07:30-08:50 a.m
    %td(colspan=3) Register
  %tr#linha
    %td.col-a 08:50-09:10 a.m
    %td(colspan=3) Opening Session
  %tr#linha
    %td.col-a 09:10-10:10 a.m
    %td(colspan=3) Fábio Akita
  %tr#linha
    %td.col-a 10:10-10:40 a.m
    %td(colspan=3) Coffee Break
  %tr#linha
    %td.col-a 10:40-11:40 a.m
    %td(colspan=3) David Heinemeier Hansson
  %tr#linha
    %td.col-a 11:40-12:40 a.m
    %td Talk A1
    %td Talk B1
    %td Talk C1
  %tr#linha
    %td.col-a 12:40-02:00 p.m
    %td(colspan=3) Lunch
  %tr#linha
    %td.col-a 02:00-03:00 p.m
    %td Talk A2
    %td Talk B2
    %td Talk C2
  %tr#linha
    %td.col-a 03:00-04:00 p.m
    %td Talk A3
    %td Talk B3
    %td Talk C3
  %tr#linha
    %td.col-a 04:00-04:30 p.m
    %td(colspan=3) Coffee Break
  %tr#linha
    %td.col-a 04:30-05:30 p.m
    %td(colspan=3) Marcos Tapajós
  %tr#linha
    %td.col-a 05:30-06:30 p.m
    %td(colspan=3) Vinícius Teles
  %tr#linha
    %td.col-a 06:30-08:00 p.m
    %td(colspan=3) Birds of a Feather
  %tr#linha
    %td.col-a 20:30-11:00 p.m
    %td(colspan=3) Happy Hour


%table#programacao
  %tr#date
    %td.col-a(colspan=4) 07/08 SATURDAY
  %tr#topicos
    %td.col-a Time
    %td.col-a Room A
    %td.col-a Room B
    %td.col-a Room C
  %tr#linha
    %td.col-a 08:00-08:50 a.m
    %td(colspan=3) Register
  %tr#linha
    %td.col-a 08:50-09:00 a.m
    %td(colspan=3) Opening Sessions
  %tr#linha
    %td.col-a 09:00-10:00 a.m
    %td(colspan=3) Carlos Brando
  %tr#linha
    %td.col-a 10:00-10:30 a.m
    %td(colspan=3) Coffee Break
  %tr#linha
    %td.col-a 10:30-11:00 a.m
    %td(colspan=3) Sponsor A
  %tr#linha
    %td.col-a 11:00-11:30 a.m
    %td(colspan=3) Sponsor B
  %tr#linha
    %td.col-a 11:30-12:30 a.m
    %td Talk A4
    %td Talk B4
    %td Talk C4
  %tr#linha
    %td.col-a 12:30-02:00 p.m
    %td(colspan=3) Lunch
  %tr#linha
    %td.col-a 02:00-03:00 p.m
    %td Talk A5
    %td Talk B5
    %td Talk C5
  %tr#linha
    %td.col-a 03:00-04:00 p.m
    %td Talk A6
    %td Talk B6
    %td Talk C6
  %tr#linha
    %td.col-a 04:00-04:30 p.m
    %td(colspan=3) Coffee Break
  %tr#linha
    %td.col-a 04:30-05:30 p.m
    %td Talk A7
    %td Talk B7
    %td Talk C7
  %tr#linha
    %td.col-a 05:30-06:30 p.m
    %td(colspan=3) Keynote F
  %tr#linha
    %td.col-a 06:30-07:00 p.m
    %td(colspan=3) Closure of the day's activities
  %tr#linha
    %td.col-a 07:30-11:00 p.m
    %td(colspan=3) Happy Hour