---
layout: default-en
title: Home
layout_type: start_page 
category: en
---
.grid_1.prefix_8
  %a(href="http://www.twitter.com/oxenterails" target="_blank")
    %img.twitter{ :src => "../images/bg/logo-twitter.jpg", :title => "Follow us on Twitter!"}
.grid_9.alpha
  .slider
    .inside
      .slideshow
        - 17.times do |image|
          %img{ :src => "../images/slides/#{image}.jpg"}
  .clear
  .thank
    %p The Oxente Rails 2010 Event finished and was a great success!  
    %p We want to thank every speaker for this success, and also every one of the 300 participants! Thank you very much for making this event happen!   
    %p
      The photos of the event can be found here on the site,
      %strong
        %a(href="http://oxenterails.com/fotos" target="_blank") Photos Menu,
      and also in others places, some links follow down:  
      %ul.ul_disc
        %li
          Flickr
          %ul
            %li 
              %a(href="http://www.flickr.com/photos/danicuki/sets/72157624669014520/with/4869783925/" target="_blank") Daniel Cukier
            %li
              %a(href="http://www.flickr.com/photos/henriquebastos/with/4875407648/" target="_blank") Henrique Bastos
        %li 
          Gallery.me
          %ul
            %li
              %a(href="http://gallery.me.com/akitaonrails#100201&view=null&bgcolor=black&sel=32" target="_blank") Fábio Akita
    %p The video recording of Oxente Rails 2010 Event will be edited and disposed in the Internet soon after.
    %hr
    %p 
      Below are some links to the reviews made of the event:
      %ul_ul_disc
        %li
          %p
            %a(href="http://rafael.adm.br/p/oxente-rails-2010/" target="_blank") Rafael Lima
        %li
          %p
            %a(href="http://henriquebastos.net/2010/08/09/balanco-do-oxenterails-2010/" target="_blank") Henrique Bastos.NET
        %li
          %p Blog de Helton Duarte
          %ul
            %li
              %a(href="http://heltonduarte.com/2010/08/07/oxente-rails-2010-dia-1/" target="_blank") First Day,
              %a(href="http://heltonduarte.com/2010/08/08/oxente-rails-2010-dia-2/" target="_blank"
) Second Day
        %li
          %p Blog do Tá safo!    
          %ul
            %li
              %a(href="http://tasafo.wordpress.com/2010/08/12/tasafoemacao-no-oxenterails-2010-1-dia/" target="_blank") First Day,
              %a(href="http://tasafo.wordpress.com/2010/08/14/2-dia-do-oxente-rails-2010/" target="_blank") Second Day
        %li
          %p
            %a(href="http://nerdson.com/blog/oxente/" target="_blank") Nerdson
        %li
          %p 
            %a(href="http://cabritin.wordpress.com/2009/08/11/oxente-rails-dia-1/" target="_blank") themeless

