---
layout: default-en
title: Contact
layout_type: internal_page
category: en 
---

%p Contact us by filling correctly all of the fields below.
  
%form#contato{ :action => 'http://participe.de/events/oxente-rails-2010/contacts', :method => 'post' }
  %fieldset
    %label Name:
    %input.text.required{ :name => 'nome' }
    %label Email:
    %input.text.email.required{ :name => 'email' }
    %label Cel Phone Number:
    %input.text.required{ :name => 'telefone' }
    %label Message:
    %textarea.text.required{ :name => 'mensagem' }
    %br
    %br
    %input#enviar{ :name => 'submit', :value => 'Submit', :type => 'submit' }
