---
layout: default-en
title: Venue
layout_type: internal_page
category: en 
---

%a(href = "http://www.praiamarnatal.com.br/ingles/index.php" title="Click here to go to the Praiamar personal site" target="_blank")
  #local
    %img{ :title => "Praiamar Natal Hotel & Convention", :src=> "../images/fachada-praimar.jpg", :alt => "Praiamar Natal Hotel & Convention", :align => "left", :width => "478", :height => "318" }
    .clear
    %h3 Praiamar Natal Hotel & Convention
  .clear

%p The Praiamar is located on one of the most beaultiful beaches in northeastern Brazil, Ponta Negra, a peaceful warm water cove near the beaultiful Morro do Careca (Bald Man's Hill), witch is the most famous tourist attraction in Natal.

%p It has the newest, most modern convention center in Natal. There is an area of more than 4.000 m&sup2; available with high-technology audiovisual, air-conditioning, acoustic and security resources and state-of-the-art system for dividing it up into smaller areas. Using articulated room, sound and climate dividers, the general area can be split up such that all the areas recieve all the network of services.

%p The Praiamar Event center project includes a 1.000 m&sup2; area for exhibitions, allowing stands to be assembled and the greatest comfort for the exhibition and the public.

%p
  %strong
    %u Location:
%ul.ul_disc
  %li 14km from the Airport
  %li 12km from the City Center
  %li Exclusive beach access

%p
  %strong
    %u Floorplant :
%p
  %a{ :id => "single_img", :href => "images/plantabaixa-praiamar.jpg"}
    %img{ :title => "Praiamar Hotel & Convention Floorplant", :src => "images/plantabaixa-praiamar.jpg", :alt => "Praiamar Hotel & Convention Floorplant", :align => "center", :width => "500"}

%p
  %strong
    %u Photos:

#fotos-local
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto1.jpg"}
    %img{ :title => "Auditorium Room Praiamar", :src=> "images/local/foto1.jpg", :alt => "Auditorium Room Praiamar", :align => "left", :height => "107"}
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto6.png"}
    %img{ :title => "Exhibit Hall Praiamar", :src=> "images/local/foto6.png", :alt => "Exhibit Hall Praiamar", :align => "left", :height => "107" }
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto4.jpg"}
    %img{ :title => "Space for Coffee Break Praiamar", :src=> "images/local/foto4.jpg", :alt => "Space for Coffee Break Praiamar", :align => "left", :height => "107" }
  %br
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto7.png"}
    %img{ :title => "Auditorium Room Praiamar - Front View", :src => "images/local/foto7.png", :alt => "Auditorium Room Praiamar - Front View", :align => "left", :height => "107"}
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto8.jpg"}
    %img{:title => "Exhibit Hall Praiamar", :src => "images/local/foto8.jpg", :alt => "Exhibit Hall Praiamar", :align => "left", :height => "107"}
  %a{ :class => "group", :rel => "fotos-local", :href => "images/local/foto12.jpg"}
    %img{ :title => "Space for Coffee Break Praiamar", :src=> "images/local/foto12.jpg", :alt => "Space for Coffee Break Praiamar", :align => "left", :height => "107" }
.clear
