---
layout: default-en
title: Travel Agency
layout_type: internal_page
category: en 
---

%ul.ul_disc
  %li
    %a(href='#vantagens') Why travel with us?
  %li
    %a(href="#pacotes") Hosting Packages
  %li
    %a(href='#caravanas') Exclusive Caravan
  %li
    %a(href="#mais") More Information
  %li
    %a(href="#harabello") About Harabello
%hr
#agencia
  %a{ :href => "http://www.harabello.com.br/pt/"}
    %img(title="Harabello - Travel and tourism" src="../images/logo_harabello.gif" alt="Harabello - Travel and tourism")
    
%h3(id = "vantagens") Why travel with us?
%ul.ul_disc
  %li We will be on duty at the venue.
  %li We will make changes to dates, hotels and travel expenses when necessary.
  %li Our airfares GOL has a 15% discount on the fare of the site.
  %li Available on flights in caravans of up to 80% discount on the fare available on the site. 
  %li Prices for accommodation in hotels are unique and accessible.
  %li Make available affordable packages tours for all tastes.
  %li You contribute to achievement of the Oxente Rails 2010!

%h3(id="pacotes") Hosting Packages

%table#programacao
  %tr#topicos
    %td.col-a
      HOTEL
    %td.col-a
      LOCATION
    %td.col-a
      SINGLE
    %td.col-a
      DOUBLE
    %td.col-a
      TRIPLE
    %td.col-a
      QUADRUPLE
  %tr#linha
    %td.col-a
      Praiamar (****)
    %td
      Ponta Negra
    %td
      R$ 191,00
    %td
      R$ 211,00
    %td.colb-b
      R$ 274,00
    %td.colb-b
      R$ 337,00
  %tr#linha
    %td.col-a
      Araça Flat (****) 
    %td
      Ponta Negra
    %td
      R$ 143,00
    %td
      R$ 143,00
    %td.colb-b
      \-
    %td.colb-b
      \-
  %tr#linha
    %td.col-a
      Holiday Inn (***) 
    %td
      Ponta Negra
    %td
      R$ 167,00
    %td
      R$ 167,00
    %td.colb-b
      \-
    %td.colb-b
      \- 
  %tr#linha
    %td.col-a
      Praia Azul (***) 
    %td
      Ponta Negra
    %td
      R$ 156,00
    %td
      R$ 156,00
    %td.colb-b
      R$ 192,00
    %td.colb-b
      R$ 216,00
  %tr#linha
    %td.col-a
      Areia de Ouro (***)
    %td
      Ponta Negra
    %td
      R$ 145,00
    %td
      R$ 145,00
    %td.colb-b
      R$ 189,00
    %td.colb-b
      \-
  %tr#linha
    %td.col-a
      Divi Divi (***)
    %td
      Ponta Negra
    %td
      R$ 139,00
    %td
      R$ 139,00
    %td
      R$ 169,00
    %td
      \-
  %tr#linha
    %td.col-a
      Cabanas Apart Hotel (***)
    %td
      Ponta Negra
    %td
      R$ 129,00
    %td
      R$ 129,00
    %td
      R$ 169,00
    %td
      R$ 210,00
  %tr#linha
    %td.col-a
      Serantes (***)
    %td
      Ponta Negra
    %td
      R$ 115,00
    %td
      R$ 135,00
    %td
      R$ 155,00
    %td
      \-
  %tr#linha
    %td.col-a
      Marsallis Residence Flat (***)  
    %td
      Ponta Negra
    %td
      R$ 99,00
    %td
      R$ 109,00
    %td
      R$ 159,00
    %td
      \-
  
%h3(id = "caravanas") Exclusive Caravan
%table#programacao
  %tr#topicos
    %td.col-a
      FROM
    %td.col-a
      COMING
    %td.col-a
      RETURN
    %td.col-a
      VALUE
  %tr#linha
    %td.col-a
      Recife (REC)
    %td
      JJ3080 - August 5
      %br
      From: 12:25
      %br
      To: 13:15
    %td
      JJ3301 - August 8
      %br
      From: 16:50
      %br
      To: 17:35
    %td
      R$ 204,24
  %tr#linha
    %td.col-a
      Fortaleza (FOR)
    %td
      JJ3302 - August 5
      %br
      From: 13:40
      %br
      To: 14:30
    %td
      JJ3301 - August 8
      %br
      From: 15:35
      %br
      To: 16:35
    %td
      R$ 314,24
  %tr#linha
    %td.col-a
      Teresina (THE)
    %td
      JJ3883 - August 5
      %br
      From: 07:30
      %br
      To: 09:37 (Brasília - BSB)
      %br
      %br
      JJ3718 - August 5 (conexão)
      %br
      From: 12:45 (Brasília - BSB)
      %br
      To: 15:30
    %td
      JJ3306 - August 8
      %br
      From: 11:00
      %br
      To: 11:55 (Fortaleza - FOR)
      %br
      %br
      JJ3841 - August 8 (conexão)
      %br
      From: 14:10 (Fortaleza - FOR)
      %br
      To: 15:10
    %td
      R$ 479,24
  %tr#linha
    %td.col-a
      São Paulo (GRU)
    %td
      JJ3301 - August 5
      %br
      From: 11:30
      %br
      To: 14:50
    %td
      JJ3307 - August 8
      %br
      From: 23:30
      %br
      To: 02:45 (09/08)
    %td
      R$ 556,24
  %tr#linha
    %td.col-a
      Rio de Janeiro (GIG)
    %td
      JJ3080 - August 5
      %br
      From: 09:06
      %br
      To: 13:15
    %td
      JJ3081 - August 8
      %br
      From: 16:50
      %br
      To: 21:21
    %td
      R$ 611,24
%p
  If you wonder to create a caravan you must have at least 10 people confirmed. If you're in another state and would create a caravan to come to the Oxente Rails 2010, please contact us by email:
  %a{ :href => "mailto:caravanas@oxenterails.com" }
    caravan@oxenterails.com

%h3(id = "mais") More Information
%p 
  If you want to make reservations or check our packages optional tours, you just have to access the 
  %a{ :href => "http://www.harabello.com.br/pt/eventos/oxente_rails_2010", :target => "_blank"}
    Harabello's Oficial Site.
  Book your place!!

%h1(id="harabello") About Harabello
%p Headquartered in Natal/RN with a branch in Mossoró/RN, Harabello Tourism has established itself in the market Norteriograndense since 1987 for excellence in planning and organizing national and international packages. The company's structure is organized so versatile, where the sectors are intertwined in a network of integrated care, so that professionals in the tourism sector share knowledge, experiences with the industry event logistics, operations and organization of congresses, seminars, meetings, meetings, fairs and events of any kind.

%p The corporate sector, which serves public and private companies, both in Rio Grande do Norte and in Paraíba, also acts that are shared with other sectors of the company, so that knowledge is always socialized and integrated into all sectors, contributing to excellence of care.

%p The company is accredited ABAV (Brazilian Association of Travel Agents), the IATA (International Air Transport Association) and Embratur (Brazilian Tourism Company), highlighting the competence, credibility and trustworthiness.

%h3 Location
#location
  %ul
    %li
      %strong Store Natal/RN
      %p Phone Number: + 55 (84) 3133.4141 - Av. Afonso Pena, 815- Tirol - harabello@harabello.com.br
    %li
      %strong Store Mossoró/RN
      %p Phone Number: + 55 (84) 3316.1314 - PÇA Felipe Guerra, 12 - shop bc lj. 29 - Centro - harabello@harabello.com.br
