---
layout: default-en
title: Home
layout_type: start_page 
category: en
---
.grid_1.prefix_9
  %a(href="http://www.twitter.com/oxenterails" target="_blank")
    %img.twitter{ :src => "../images/bg/logo-twitter.jpg", :title => "Follow us on Twitter!"}
.grid_8.prefix_1
  .slider
    .inside
      .slideshow
        - 4.times do |image|
          %img{ :src => "../images/slides/#{image}.jpg"}
.clear
#calls
  .grid_12
    #agenda.grid_3.prefix_1.alpha
      %img{ :src => "../images/conteudo/en/bg-div-program.png", :title => "Check out our schedule", :height => "46px"}
      %img.call{ :src => "../images/agenda.jpg", :title => "Check out our schedule", :height => "125px"}
      
      %p 
        %a(href="/en/program")
          %strong Stay on top
          %br
          of all that will happen.
          
    #sep.grid_1
      %img.separator.ag{ :src => "../images/conteudo/bg-div-separator.png", :height => "200px"}
      
    #speakers.grid_3
      %img{ :src => "../images/conteudo/en/bg-div-speakers.png", :title => "Check out the speakers", :height => "46px"}
      %img.call{ :src => "../images/palestrantes.jpg", :title => "Check out the speakers", :height => "118px"}
      %p 
        %a(href="/en/speaker")
          %strong Speakers with Rails
          %br
          running in their veins!
          
    #sep.grid_1
      %img.separator.ag{ :src => "../images/conteudo/bg-div-separator.png", :height => "200px"}
      
    #register.grid_3.omega
      %img{ :src => "../images/conteudo/en/bg-div-register.png", :title => "Register now! :)", :height => "46px"}
      %img.call{ :src => "../images/inscricoes.jpg", :title => "Register now! :)", :height => "118px"}
      %p 
        %a(href="/en/register")
          %strong Register before
          %br
          and enjoy the deals!
  .grid_12
    #clocal.grid_3.prefix_1.alpha
      %img{ :src => "../images/conteudo/en/bg-div-venue.png", :title => "About the venue", :height => "46px"}
      %img.call{ :src => "../images/fachada-praimar.jpg", :title => "About the venue", :height => "117px"}
      
      %p 
        %a(href="/en/venue")
          %strong Meet
          a little about
          %br
          where it will be held.
          
    #sep.grid_1
      %img.separator.ag{ :src => "../images/conteudo/bg-div-separator.png", :height => "200px"}
    
    #contact.grid_3.prefix_1.alpha
      %img{ :src => "../images/conteudo/en/bg-div-contact.png", :title => "Contact us", :height => "46px"}
      %img.call{ :src => "../images/contato.jpg", :title => "Contact us", :height => "117px"}
      
      %p 
        %a(href="/en/contact")
          %strong Contact us