---
layout: default-en
title: Program
layout_type: internal_page
category: en  
---

%h2 What will happen?

%h3 Talks about:
.grid_9
  .temas.grid_3
    %h4 Rails
    %ul
      %li
        %img{ :width => "78", :height => "86", :alt => "David Heinemeier Hansson", :src => "../images/guests/dhh.jpg"}
        %h5 DHH
        %span Q&A about Rails 3
      %li
        %img{ :width => "78", :height => "86", :alt => "Fábio Akita", :src => "../images/guests/akita.png"}
        %h5 Fábio Akita
        %span The last Ruby world news
      %li
        %img{ :width => "78", :height => "86", :alt => "Dr. Nic Williams", :src => "../images/guests/drnic.png"}
        %h5 Dr. Nic
        %span Contributing with Open Source
      %li
        %img{ :width => "78", :height => "86", :alt => "Marcos Tapajós", :src => "../images/guests/tapajos.png"}
        %h5 Tapajós
        %span NoSQL on Rails
      %li
        %img{ :width => "78", :height => "86", :alt => "Fabio Kung", :src => "../images/guests/kung.png"}
        %h5 Fabio Kung
        %span Automation and DevOps: take control of yours infrastructure!
      %li
        %img{ :width => "78", :height => "86", :alt => "Cauê Guerra", :src => "../images/guests/caue.png"}
        %h5 Cauê Guerra
        %span Using Rails on enterprise world
      %li
        %img{ :width => "78", :height => "86", :alt => "Geoffrey Grosenbach", :src => "../images/guests/geoffrey.png"}
        %h5 Geoffrey Grosenbach
        %span 

  .temas.grid_3.alpha
    %h4 Agility
    %ul
      %li
        %img{ :width => "78", :height => "86", :alt => "Vinicius Telles", :src => "../images/guests/vinicius.png"}
        %h5 Vinicius Teles
        %span Get away from slavery
      %li
        %img{ :width => "78", :height => "86", :alt => "Thais Camilo", :src => "../images/guests/thais.png"}
        %h5 Thais Camilo
        %span The life of a rocketeer
      %li
        %img{ :width => "78", :height => "86", :alt => "Hugo Baraúna", :src => "../images/guests/hugo.jpg"}
        %h5 Hugo Baraúna
        %span Project Rescue: saving projects on the edge of precipice
      %li
        %img{ :width => "78", :height => "86", :alt => "Daniel Cukier", :src => "../images/guests/daniel.jpg"}
        %h5 Daniel Cukier
        %span Agile learning and thinking
      %li

  .temas.grid_3.omega
    %h4 Enterpreneurship
    %ul
      %li
        %img{ :width => "78", :height => "86", :alt => "Carlos Brando", :src => "../images/guests/brando.png"}
        %h5 Brando
        %span Making a remarkable career on software development
      %li
        %img{ :width => "78", :height => "86", :alt => "Henrique Bastos", :src => "../images/guests/henrique.png"}
        %h5 Henrique Bastos
        %span Engaging in a successfull community
      %li
        %img{ :width => "78", :height => "86", :alt => "Ale Gomes", :src => "../images/guests/alegomes.jpg"}
        %h5 Ale Gomes
        %span Start you up
      %li
        %img{ :width => "78", :height => "86", :alt => "Rafael Lima", :src => "../images/guests/rafael.jpg"}
        %h5 Rafael Lima
        %span Turning ideas into profitable business
     
.clear
%h3 And so much more!
.grid_9
  .atividades.grid_3
    %h4 Dojo
    %p Solving programming problems with TDD and pair programming
  .atividades.grid_3.alpha
    %h4 Open Spaces
    %p Open space to discuss anything
  .atividades.grid_3.omega
    %h4 Lightning talks
    %p Short presentations at the end of the day

