---
layout: default-en
title: Speakers
layout_type: internal_page
category: en 
---

#guests
  %ul
    %li
      %img{ :width => "88", :height => "88", :alt => "pfagiani", :src => "../images/guests/paulo.png"}
      %h3
        %a.url{ :href => "http://twitter.com/fagiani", :target => "_blank"}
          Paulo Fagiani
      %p Paulo Fagiani is the newest member and the founder of the tink! company. He works with Application Development, Database Administration and Networking. He's interested in challenge daily tasks that require him quick and reliable solutions. xD 
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "anderson", :src => "../images/guests/anderson.jpg"}
      %h3
        %a.url{ :href => "http://twitter.com/extendsmymind", :target => "_blank"}
          Anderson Dias
      %p He is the owner and proprietor of de most famous acts called Parolex! He's a System Developer and he has the official role of "Bug Killer" and "Tester Man" on the tink! company. He like and think good of watching the tink! company growing and developing more and more.
      %p Ps.: Could you give me a orange juice. [...] but, no orange!