---
layout: default-en
title: Register
layout_type: internal_page 
category: en
---

%ul.ul_disc
  %li
    %a(href="#procedimentos") Procedures for Registration
  %li
    %a(href="#taxas") Registration Fees
  %li
    %a(href="#inscricoes") Online Registration
%hr

%h3(id="procedimentos")
  %u Procedures for Registration
%ul.ul_disc
  %li International entries must be made through this site until 11/07/10. After this date, they will be made only on the venue on the day of the event;
  %li The entries made on the day of the event will be subject to availability.
  
%h3(id="taxas")
  %u Registration Fees
%ul.ul_disc
  %li Registration payment must be made by bank, issued on the site, or by credit card.
  %li The registration fee will be announced soon, when the vacancies are open for enrollment.
  

%h3(id="inscricoes")
  %u Online Registration
%ul.ul_none
  %li 
    If you are interested in signing up for Oxente Rails 2010 send an email to 
    %a(href="mailto:subscription@oxenterails.com")
      %strong subscription@oxenterails.com

