---
layout: default-en
title: Sponsors
layout_type: internal_page
category: en 
---

%p
  The Oxente Rails 2010 Event is a great opportunity for your company to show off to an audience of software developers, students and information tecnology company managers around all Brazil. For more information about how this is possible, you can get out Marketing Plan 
  %a{ :href => "/pdf/marketing plan.pdf", :onclick => "javascript: pageTracker._trackPageview('/pdf/marketing-en'); "}
    %strong here
  and choose what kind of sponsorship plan is most suitable to your business and contact us thru 
  %a{ :href => "/en/contact"}
    %strong contact page,
  or by our e-mail:
  %a{ :href => "mailto:sponsorship@oxenterails.com"}
    %strong sponsorship@oxenterails.com
    
%hr

%h3 Direct Link to download:
    
%ul
  %li
    %strong Marketing Plan (in English)
    (
    %a.no-bold{ :href => "../pdf/marketing plan.pdf", :onclick => "javascript: pageTracker._trackPageview('/pdf/marketing-en'); "}
      marketing plan.pdf
    )
