---
layout: default-en
title: Home
layout_type: start_page 
category: en
external_javascripts: http://downloads.mailchimp.com/js/jquery.validate.js http://downloads.mailchimp.com/js/jquery.form.js
---
.grid_1.prefix_8
  %a(href="http://www.twitter.com/oxenterails" target="_blank")
    %img.twitter{ :src => "../images/bg/logo-twitter.jpg", :title => "Follow us on Twitter!"}
.grid_9.alpha
  .slider
    .inside
      .slideshow
        - 6.times do |image|
          %img{ :src => "../images/slides/#{image}.jpg"}
  .clear
#apoio.grid_3.omega
  %h6
    %u SPONSOR
  %h6
    BRONZE
  #plataforma.patrocinio.bronze
    %a{ :href => "http://www.plataformatec.com.br/", :target => "_blank"}
      %img{ :src => "../images/sponsors/plataforma.gif", :alt => "Plataforma - Technology and Software Engineering", :title => "Plataforma - Technology and Software Engineering", :width => "120px:"}
  %h6 
    %u SUPPORT
  #apress.apoio
    %a{ :href => "http://apress.com/", :target => "_blank"}
      %img{ :src => "../images/sponsors/apress.gif", :alt => "Apress - The Experts Voice", :title => "Apress - The Experts Voice", :height => "60px"}
#calls
  #inicio.grid_12
    #agenda.grid_3.alpha
      %a(href="/en/program")
        %img{ :src => "../images/conteudo/en/bg-div-program.png", :title => "Check out our schedule", :height => "46px"}
        %img.call{ :src => "../images/agenda23.jpg", :title => "Check out our schedule", :height => "125px"}
      
        %p 
          %strong Stay on top
          %br
          of all that will happen.
          
    #sep.grid_1
      %img.separator.ag{ :src => "../images/conteudo/bg-div-separator.png", :height => "200px"}
      
    #speakers.grid_3
      %a(href="/en/speaker")
        %img{ :src => "../images/conteudo/en/bg-div-speakers.png", :title => "Check out the speakers", :height => "46px"}
        %img.call{ :src => "../images/palestrantes.jpg", :title => "Check out the speakers", :height => "118px"}
        %p 
          %strong Speakers with Rails
          %br
          running in their veins!
          
    #sep.grid_1
      %img.separator.ag{ :src => "../images/conteudo/bg-div-separator.png", :height => "200px"}
      
    #register.grid_3.omega
      %a(href="/en/register")
        %img{ :src => "../images/conteudo/en/bg-div-register.png", :title => "Register now! :)", :height => "46px"}
        %img.call{ :src => "../images/inscricoes.jpg", :title => "Register now! :)", :height => "118px"}
        %p 
          %strong Register before
          %br
          and enjoy the deals!
  .grid_12
    #clocal.grid_3.alpha
      %a(href="/en/venue")
        %img{ :src => "../images/conteudo/en/bg-div-venue.png", :title => "About the venue", :height => "46px"}
        %img.call{ :src => "../images/fachada-praimar.jpg", :title => "About the venue", :height => "117px"}
      
        %p 
          %strong Meet
          a little about
          %br
          where it will be held.
          
    #sep.grid_1
      %img.separator.ag{ :src => "../images/conteudo/bg-div-separator.png", :height => "200px"}
    
    #contact-en.grid_3.alpha
      %a(href="/en/contact")
        %img{ :src => "../images/conteudo/en/bg-div-contact.png", :title => "Contact us", :height => "46px"}
        %img.call{ :src => "../images/contato.jpg", :title => "Contact us", :height => "117px"}
      
        %p 
          %strong Contact us
      
    #sep.grid_1
      %img.separator.ag{ :src => "../images/conteudo/bg-div-separator.png", :height => "200px"}
      
    #propostas.grid_3.prefix_1.omega
      %a(href="/proposals")
        %img{ :src => "../images/conteudo/en/bg-div-proposals.png", :title => "Send your papers to us!", :height => "46px"}
        %img.call{ :src => "../images/trabalhos.jpg", :title => "Send your papers to us!", :height => "117px"}
        %p 
          Would you like to speak
          %br
          at Oxente Rails 2010 Conference?
          %strong Send your papers to us!
          
  .grid_12
    #newsletter.grid_3.alpha
      %form#mc-embedded-subscribe-form.validate{:action => "http://tink.us1.list-manage.com/subscribe/post?u=5471d7bbafed7389d40e54b85&id=13d3c337bc", :method => "post", :name => "mc-embedded-subscribe-form", :style => "font: normal 100% Arial;font-size: 12px;", :target => "_blank"}
        %img{ :src => "../images/conteudo/bg-div-newsletter.png", :title => "Get news-up-to-date by email!", :height => "46px"}
        %img.call{ :src => "../images/newsletter.png", :title => "Get news-up-to-date by email!", :height => "117px"}
        %p 
          %strong Get the news-up-to-date
          about the Oxente Rails 2010 Conference
          %br
          %strong by email!
        #mc_embed_signup
          .mc-field-group{:style => "margin: 4px 0;clear: both;overflow: hidden;"}
            %label{:for => "mce-FNAME", :style => "margin-left: -220px; "}
              Name
              %strong.note-required *
            %input#mce-FNAME.required{:name => "FNAME", :style => "background: #fee5a3; border-color: #FF6600; border-style: none none solid; border-width: 0 0 1px; padding: 3px 3px 3px 45px; width: 175px;float: left;z-index: 999; color: #FF6600;", :type => "text", :value => ""}/
          .mc-field-group{:style => "margin: 4px 0;clear: both;overflow: hidden;"}
            %label{:for => "mce-EMAIL", :style => "margin-left: -220px;"}
              Email
              %strong.note-required *
            %input#mce-EMAIL.required.email{:name => "EMAIL", :style => "background: #fee5a3; border-color: #FF6600; border-style: none none solid; border-width: 0 0 1px; padding: 3px 3px 3px 45px; width: 175px;float: left;z-index: 999; color: #FF6600;", :type => "text", :value => ""}/
        #mce-responses{:style => "float: left;top: -1.4em;padding: 0em .5em 0em .5em;overflow: hidden;width: 90%;margin: 0 5%;clear: both;"}
          #mce-error-response.response{:style => "display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: #FFEEEE;color: #FF0000;"}
          #mce-success-response.response{:style => "display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: #;color: #529214;"}
        %div
          %input#mc-embedded-subscribe.btn{:name => "subscribe", :style => "clear: both;width: auto;display: block;margin: 1em 0 1em 11.5em; background: none repeat scroll 0 0 #FF6600; border: 1px solid #FF6600; color: #FFFFFF; cursor: pointer;", :type => "submit", :value => "Submit"}/
        %a#mc_embed_close.mc_embed_close{:href => "#", :style => "display: none;"} Close
        :javascript
          var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';var err_style = '';
          try{
            err_style = mc_custom_error_style;
          } catch(e){
            err_style = 'margin: 1em 0 0 0; padding: 0px 3px 3px; background: FFEEEE none repeat scroll 0% 0%; z-index: 1; width: 80%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: FF0000;';
          }
          var mce_jQuery = jQuery.noConflict();
          mce_jQuery(document).ready( function($) {
            var options = { errorClass: 'mce_inline_error', errorElement: 'div', errorStyle: err_style, onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
            var mce_validator = mce_jQuery("#mc-embedded-subscribe-form").validate(options);
            options = { url: 'http://tink.us1.list-manage.com/subscribe/post-json?u=5471d7bbafed7389d40e54b85&id=13d3c337bc&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                        beforeSubmit: function(){
                            mce_jQuery('#mce_tmp_error_msg').remove();
                            mce_jQuery('.datefield','#mc_embed_signup').each(
                                function(){
                                    var txt = 'filled';
                                    var fields = new Array();
                                    var i = 0;
                                    mce_jQuery(':text', this).each(
                                        function(){
                                            fields[i] = this;
                                            i++;
                                        });
                                    mce_jQuery(':hidden', this).each(
                                        function(){
                                            if ( fields[0].value=='MM' && fields[1].value=='DD' && fields[2].value=='YYYY' ){
                                              this.value = '';
                                            } else if ( fields[0].value=='' && fields[1].value=='' && fields[2].value=='' ){
                                              this.value = '';
                                            } else {
                                              this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                            }
                                        });
                                });
                            return mce_validator.form();
                        }, 
                        success: mce_success_cb
                    };
            mce_jQuery('#mc-embedded-subscribe-form').ajaxForm(options);
          });
          function mce_success_cb(resp){
              mce_jQuery('#mce-success-response').hide();
              mce_jQuery('#mce-error-response').hide();
              if (resp.result=="success"){
                  mce_jQuery('#mce-'+resp.result+'-response').show();
                  mce_jQuery('#mce-'+resp.result+'-response').html(resp.msg);
                  mce_jQuery('#mc-embedded-subscribe-form').each(function(){
                      this.reset();
                  });
              } else {
                  var index = -1;
                  var msg;
                  try {
                      var parts = resp.msg.split(' - ',2);
                      if (parts[1]==undefined){
                          msg = resp.msg;
                      } else {
                          i = parseInt(parts[0]);
                          if (i.toString() == parts[0]){
                              index = parts[0];
                              msg = parts[1];
                          } else {
                              index = -1;
                              msg = resp.msg;
                          }
                      }
                  } catch(e){
                      index = -1;
                      msg = resp.msg;
                  }  
                  try{
                    if (index== -1){
                          mce_jQuery('#mce-'+resp.result+'-response').show();
                          mce_jQuery('#mce-'+resp.result+'-response').html(msg);            
                    } else {
                          err_id = 'mce_tmp_error_msg';
                          html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                          var input_id = '#mc_embed_signup';
                          var f = mce_jQuery(input_id);
                          if (ftypes[index]=='address'){
                              input_id = '#mce-'+fnames[index]+'-addr1';
                              f = mce_jQuery(input_id).parent().parent().get(0);
                          } else if (ftypes[index]=='date'){
                              input_id = '#mce-'+fnames[index]+'-month';
                              f = mce_jQuery(input_id).parent().parent().get(0);
                          } else {
                              input_id = '#mce-'+fnames[index];
                              f = mce_jQuery().parent(input_id).get(0);
                          }
                          if (f){
                              mce_jQuery(f).append(html);
                              mce_jQuery(input_id).focus();
                          } else {
                              mce_jQuery('#mce-'+resp.result+'-response').show();
                              mce_jQuery('#mce-'+resp.result+'-response').html(msg);
                          }
                      }
                  } catch(e){
                      mce_jQuery('#mce-'+resp.result+'-response').show();
                      mce_jQuery('#mce-'+resp.result+'-response').html(msg);
                  }
              }
          }

