---
layout: default-en
title: Speakers
layout_type: internal_page
category: en 
---

#guests
  %ul
    %li
      %img{ :width => "86", :height => "86", :alt => "brando", :src => "../images/guests/brando.png"}
      %h3
        %a{ :href => "http://www.nomedojogo.com/", :target => "_blank"}
          Carlos Brando
      %p
        Addicted to programming, he is currently Technology Director at
        %a(href="http://amanaie.com.br/" target="_blank") Amanaiê,
        after being Senior Engineer at
        %a(href="http://surgeworks.com/" target="_blank") Surgeworks LLC. 
        He's been working with software development for more than ten years. His
        %a(href="http://nomedojogo.com" target="_blank") blog
        is one of the most known Ruby on Rails blogs in Brazil. He is very active in the Brazilian Ruby on Rails community and is part of many open-source projects. He gave talks at many Ruby related brazilian Rails and also wrote the
        %a(href="http://www.nomedojogo.com/2008/06/09/new-free-book-ruby-on-rails-21-whats-new/" target="_blank") first book
        about Rails 2.1 in the world, freely available on the internet.
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "dhh", :src => "../images/guests/dhh.jpg"}
      %h3
        %a{ :href => "http://37signals.com/", :target => "_blank"}
          David Heinemeier Hansson
      %p
        David is a partner in
        %a(href="http://37signals.com/" target="_blank") 37signals,
        and the creator of the web-application framework
        %a(href="http://rubyonrails.org/" target="_blank") Ruby on Rails. 
        For his work on Rails, he won Best Hacker of the Year 2005 
        %a(href="http://osdir.com/Article6677.phtml" target="_blank") at OSCON from Google and O'Reilly.
        And in 2006, he accepted the Jolt award of product excellence for Rails 1.0. He is the co-author of
        %a(href="http://gettingreal.37signals.com/" target="_blank") Getting Real
        (over 40,000 copies sold) and
        %a(href="http://pragprog.com/titles/rails3/agile-web-development-with-rails-third-edition" target="_blank") Agile Web Development with Rails
        (over 100,000 copies sold).
    %hr
    %li
      %img{ :width => "78", :height => "88", :alt => "akita", :src => "../images/guests/akita.png"}
      %h3
        %a{ :href => "http://www.akitaonrails.com/", :target => "_blank"}
          Fabio Akita
      %p
        He is one of the most actives Ruby on Rails evangelists on Latin America. He organized and promoted the first real Brazilian Ruby on Rails conference: RejectConf São Paulo ‘07, and more recently organized the
        %a(href="http://www.railssummit.com.br/" target="_blank") Rails Summit Latin America 2009. 
        Blogs regularly in portuguese and english at
        %a(href="http://akitaonrails.com/" target="_blank") AkitaOnRails.com
        about software development, Ruby on Rails and other things. He also helps to promote new technologies and the Agile philosophy.
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "tapajos", :src => "../images/guests/tapajos.png"}
      %h3
        %a{ :href => "http://tapajos.me/", :target => "_blank"}
          Marcos Tapajós
      %p
        He worked as an agile consultant and team couch until 2008 and nowadays works to
        %a(href="http://redeparede.com/" target="_blank") RedeParede
        and
        %a(href="http://www.improveit.com.br/" target="_blank") Improve It.
        He started working with Ruby on Rails in 2006, co-authored the first Rails 2.1 book and created the internacionalization plugin most used in Brazil. He also contributes with many open source projects.
    %hr
    %li
      %img{ :width => "78", :height => "88", :alt => "teles", :src => "../images/guests/vinicius.png"}
      %h3
        %a{ :href => "http://beonthe.net/criar_site_fazer_site/pagina/home", :target => "_blank"}
          Vinícius Teles
      %p 
        Founder of the consulting company
        %a(href="http://www.improveit.com.br/" target="_blank") Improve It.
        He wrote the first Brazilian book about XP and worked as XP coach and mentor for many years. He's been working with Rails since 2006. In late 2007 he changed his company to a new businness model, tranforming Improve It in an web products company. He now makes a living out of subscriptions to his main product, the
        %a(href="http://beonthe.net/" target="_blank")Be on the Net. 
