---
layout: default-en
title: Call for Paper
layout_type: internal_page 
category: en 
---

%h3 
  %strong Do you want to speak at Oxente Rails 2010 Conference?
%p.left Send your proposal to be looked up on July 15, 2010.
%h3
  What issues can I address?
%p Very simple, you can address any matter that is related to Ruby, Rails, Agility and Entrepreneurship. If you think you have some other issue that does not fit directly with those cited, but that may have great relevance to this event, you can have it too!

%h3 Ah, but I want to attend only on the Lighting Talks. Must I follow these steps too?
%p No! The lighting talks of the Oxente Rails 2010 Conference will be held in a spontaneous way, with participants who so wish it. Some proposals may turn sent suggestions of topics for lighting talks. Remember that in lighting talks, each participant has 15 minutes to present it.

%h3
  Cool! What should I do to send my proposal?  
%p.left 
  To submit your proposal you must first be registered for the event Oxente Rails 2010 Conference. There is no limit proposed by the participant, then get to work!
%h6
  You do not just signed up yet?
%p.left 
  Don't waste your time!
  %a(href="en/register")
    %strong Find out how
  or contact us 
  %a(href="mailto:subscription@oxenterails.com")
    %strong subscription@oxenterails.com
%p.left
  And then, send your proposal to us by the email
  %a(href="mailto:callofpapers@oxenterails.com")
    %strong callofpapers@oxenterails.com

