---
layout: default-en
title: Program
layout_type: internal_page
category: en  
---

%table.programacao
  %tr.date
    %td(colspan=4) Friday 06 Aug
  %tr.topicos
    %td Schedule
    %td Room A
    %td Room B
    %td.coluna30 Lounge
  %tr.linha
    %td 07:30 08:50
    %td.breaks(colspan=3) Register
  %tr.linha
    %td 08:50 09:10
    %td.keynote(colspan=3)
      Opening
      %br
      %a{:href => "/en/speaker#aldinho", :target => "_blank"} Aldinho
      \& Raniere Dantas
  %tr.linha
    %td 09:10 10:00
    %td.keynote(colspan=3)
      The last Ruby world news
      %br
      %a{:href => "/en/speaker#akita", :target => "_blank"} Fábio Akita
  %tr.linha
    %td 10:00 10:30
    %td.breaks(colspan=3) Coffee Break
  %tr.linha
    %td 10:30 11:00
    %td.keynote(colspan=3)
      Q&A Rails 3
      %br
      %a{:href => "/en/speaker#dhh", :target => "_blank"} David Heinemeier Hansson
  %tr.linha
    %td 11:00 11:40
    %td.keynote(colspan=3)
      Turning ideas into profitable businesses
      %br
      %a{:href => "/en/speaker#rafael", :target => "_blank"} Rafael Lima
  %tr.linha
    %td 11:40 12:30
    %td.keynote(colspan=3)
      Breaking Rails Conventions for Better Apps
      %br
      %a{:href => "/en/speaker#boss", :target => "_blank"} Geoffrey Grosenbach
  %tr.linha
    %td 12:30 14:00
    %td.breaks(colspan=3) Almoço
  %tr.linha
    %td 14:00 14:30
    %td
      Automated tests in browser with Cucumber, Capybara e Webdriver/Selenium 2
      %br
      %a{:href => "/en/speaker#mauricio", :target => "_blank"} Maurício Linhares
    %td
      Agile Learning
      %br
      %a{:href => "/en/speaker#cukier", :target => "_blank"} Daniel Cukier
    %td.lounge(rowspan=7) Open Spaces
  %tr.linha
    %td 14:30 15:00
    %td
      Testing with JavaScript
      %br
      %a{:href => "/en/speaker#nando", :target => "_blank"} Nando Vieira
    %td
      Agile
      %br
      %a{:href => "/en/speaker#cecilia", :target => "_blank"} Cecilia Fernandes
  %tr.linha
    %td 15:00 15:30
    %td 
      Automation and DevOps: take control of yours infrastructure!
      %br
      %a{:href => "/en/speaker#kung", :target => "_blank"} Fábio Kung
    %td
      Don't Repeat Yourself! @plataformatec and their open source tools
      %br
      %a{:href => "/en/speaker#valim", :target => "_blank"} José Valim
  %tr.linha
    %td 15:30 16:00
    %td
      Project Rescue
      %br
      %a{:href => "/en/speaker#hugo", :target => "_blank"} Hugo Baraúna
    %td
      Sight and Feedback
      %br
      %a{:href => "/en/speaker#rosafu", :target => "_blank"} Rafael Rosa Fu
  %tr.linha
    %td 16:00 16:30
    %td.breaks(colspan=2) Coffee Break
  %tr.linha
    %td 16:30 17:00
    %td
      Fun: A quick guide
      %br
      %a{:href => "/en/speaker#villela", :target => "_blank"} Carlos Villela
    %td
      Managing agile teams
      %br
      %a{:href => "/en/speaker#leandro", :target => "_blank"} Leandro Silva
  %tr.linha
    %td 17:00 17:30
    %td
      Refactoring Ruby code
      %br
      %a{:href => "/en/speaker#caike", :target => "_blank"} Caike Souza
    %td
      Demystifying Scrum - Better, Cheaper, Faster & Cooler Software Projects
      %br
      %a{:href => "/en/speaker#bernabo", :target => "_blank"} Juan Bernabó
  %tr.linha
    %td 17:30 18:30
    %td Communication Game
    %td Extreme Hour
    %td.lounge XP Game
  %tr.linha
    %td 18:30 20:00
    %td.keynote(colspan=3) Birds of Feather
  %tr.linha
    %td 20:30 23:00
    %td.breaks(colspan=3) Hora-Extra


%table.programacao
  %tr.date
    %td(colspan=4) Saturday
  %tr.topicos
    %td Schedule
    %td Room A
    %td Room B
    %td.coluna30 Lounge
  %tr.linha
    %td 08:00 08:50
    %td.breaks(colspan=3) Register
  %tr.linha
    %td 08:50 09:00
    %td.keynote(colspan=3)
      Opening
      %br
      %a{:href => "/en/speaker#aldinho", :target => "_blank"} Aldinho
      \& Raniere Dantas
  %tr.linha
    %td 09:10 09:50
    %td.keynote(colspan=3)
      NoSQL
      %br
      %a{:href => "/en/speaker#tapajos", :target => "_blank"} Marcos Tapajós
  %tr.linha
    %td 09:50 10:30
    %td.keynote(colspan=3)
      Making a remarkable career on software development
      %br
      %a{:href => "/en/speaker#brando", :target => "_blank"} Carlos Brando
  %tr.linha
    %td 10:30 11:00
    %td.breaks(colspan=3) Coffee Break
  %tr.linha
    %td 11:00 11:40
    %td.keynote(colspan=3)
      Start You Up - Develop is not enough, you have to entrepreneurship
      %br
      %a{:href => "/en/speaker#ale", :target => "_blank"} Alê Gomes
  %tr.linha
    %td 11:40 12:20
    %td.keynote(colspan=3)
      Engaging in a successfull community
      %br
      %a{:href => "/en/speaker#henrique", :target => "_blank"} Henrique Bastos
  %tr.linha
    %td 12:30 14:00
    %td.breaks(colspan=3) Almoço
  %tr.linha
    %td 14:00 14:30
    %td
      Spreading complexity among systems - lessons learned at Heroku
      %br
      %a{:href => "/en/speaker#belo", :target => "_blank"} Pedro Belo
    %td
      Outsourcing
      %br
      %a{:href => "/en/speaker#franco", :target => "_blank"} Rodrigo Franco
    %td.lounge(rowspan=4) Coding DOJOs
  %tr.linha
    %td 14:30 15:00
    %td
      Rails Cases in local market
      %br
      %a{:href => "/en/speaker#david", :target => "_blank"} David William
    %td
      The life of a rocketeer
      %br
      %a{:href => "/en/speaker#thais", :target => "_blank"} Thais Camilo
  %tr.linha
    %td 15:00 15:30
    %td 
      One step further in your relationships: Persisting with graph databases
      %br
      %a{:href => "/en/speaker#adriano", :target => "_blank"} Adriano Almeida
      \&
      %a{:href => "/en/speaker#paniz", :target => "_blank"} David Paniz
    %td
      Steak: Acceptance tests for carnivorous
      %br
      %a{:href => "/en/speaker#lopes", :target => "_blank"} Daniel Lopes
  %tr.linha
    %td 15:30 16:00
    %td
      Scalling Redeparede from 6 to 1
      %br
      %a{:href => "/en/speaker#mergulhao", :target => "_blank"} Sylvestre Mergulhão
    %td
      You can't get more money because you don't want to (Via Treina TOM)
      %br
      %a{:href => "/en/speaker#eduardo", :target => "_blank"} Carlos Eduardo
  %tr.linha
    %td 16:00 16:30
    %td.breaks(colspan=3) Coffee Break
  %tr.linha
    %td 16:30 17:30
    %td.keynote(colspan=3)
      Run away from slavery, before it gets you
      %br
      %a{:href => "/en/speaker#vinicius", :target => "_blank"} Vinicius Teles
  %tr.linha
    %td 17:30 18:30
    %td.keynote(colspan=3) Q&A with all speakers
  %tr.linha
    %td 18:30 19:00
    %td.breaks(colspan=3) Closing
  %tr.linha
    %td 19:30 23:00
    %td.breaks(colspan=3) Hora-Extra

.clear
%h3 And much more!
.grid_9
.atividades.grid_3.alpha
  %h4 Open Spaces
  %p Open spaces to discuss anything
.atividades.grid_3
  %h4 Coding Dojo
  %p Solving programming problems with TDD and pair programming
.atividades.grid_3.omega
  %h4 Birds of Feather
  %p Short presentations at the end of the day

