---
layout: default-en
title: Sponsors
layout_type: internal_page
category: en 
---

%p
  The Oxente Rails 2010 Event is a great opportunity for your company to show off to an audience of software developers, students and information tecnology company managers around all Brazil. For more information about how this is possible, you can get out Marketing Plan 
  %a{ :href => "/pdf/marketing plan.pdf", :onclick => "javascript: pageTracker._trackPageview('/pdf/marketing-en'); "}
    here
  and choose what kind of sponsorship plan is most suitable to your business and contact us thru 
  %a{ :href => "/en/contact"}
    contact page
  , or by our e-mail:
  %a{ :href => "mailto:sponsorship@oxenterails.com"}
    sponsorship@oxenterails.com
    
%hr

%h3 Direct Link to download:
    
%ul
  %li
    %strong Marketing Plan (in English)
    (
    %a.no-bold{ :href => "../pdf/marketing plan.pdf", :onclick => "javascript: pageTracker._trackPageview('/pdf/marketing-en'); "}
      marketing plan.pdf
    )

%h2 Sponsors

%ul
  %li.pd_bottom
    %a{ :href => "http://www.locaweb.com/default.html?lang=en_us", :target => "_blank"}
      %img.spon{ :src => "../images/sponsors/locaweb.jpg", :title => "Locaweb", :alt => "Locaweb", :height => "68"}
    %p.desc With 12 years of experience, Locaweb offers Internet, Data Center and Communication solutions.
  %li.pd_bottom
    %a{ :href => "http://www.plataformatec.com.br/en", :target => "_blank"}
      %img.spon{ :src => "../images/sponsors/plataforma.jpg", :title => "Plataforma", :alt => "Plataforma", :height => "68"}
    %p.desc Develop web applications and provide consulting services in software architecture, data infrastructure and deployment.   
  %li.pd_bottom
    %a{ :href => "http://hashrocket.com/", :target => "_blank"}
      %img.spon{ :src => "../images/sponsors/hashrocked2.jpg", :title => "HashRocket", :alt => "HashRocket", :height => "68"}
    %p.desc Hashrocket is a different kind of design and development shop. Hashrocket is founded on principles of love, family and respect, discipline, craftsmanship and pride. 


