---
layout: default-en
title: Speakers
layout_type: internal_page
category: en 
---
#guests
  %ul
    %li
      %img{ :width => "86", :height => "86", :alt => "adriano", :src => "../images/guests/adriano.jpg"}
      %h3(id="adriano")
        %a{ :href => "http://caelum.com.br", :target => "_blank"}
          Adriano Almeida
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Aldinho", :src => "../images/guests/aldo.jpg"}
      %h3(id="aldinho")
        %a{ :href => "http://twitter.com/aldofilho", :target => "_blank"}
          Aldinho
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Alê Gomes", :src => "../images/guests/alegomes.jpg"}
      %h3(id="ale")
        %a{ :href => "http://twitter.com/alegomes", :target => "_blank"}
          Alê Gomes
    %hr
    %li
      %img{ :width => "80", :height => "89", :alt => "Caike Souza", :src => "../images/guests/caike.jpg"}
      %h3(id="caike")
        %a{ :href => "http://twitter.com/caike", :target => "_blank"}
          Caike Souza
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "Carlos Brando", :src => "../images/guests/brando.png"}
      %h3(id="brando")
        %a{ :href => "http://www.nomedojogo.com/", :target => "_blank"}
          Carlos Brando
    %hr
    %li
      %img{ :width => "86", :height => "89", :alt => "Carlos Eduardo", :src => "../images/guests/eduardo.jpg"}
      %h3(id="eduardo")
        %a{ :href => "http://www.egenial.com.br/", :target => "_blank"}
          Carlos Eduardo
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "Carlos Villela", :src => "../images/guests/villela.jpg"}
      %h3(id="villela")
        %a{ :href => "http://www.lixo.org/", :target => "_blank"}
          Carlos Villela
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Cecília Fernandes", :src => "../images/guests/cecifernandes.png"}
      %h3(id = "cecilia")
        %a{ :href => "http://twitter.com/cecifernandes", :target => "_blank"}
          Cecília Fernandes
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Daniel Cukier", :src => "../images/guests/daniel.jpg"}
      %h3(id="cukier")
        %a{ :href => "http://www.agileandart.com", :target => "_blank"}
          Daniel Cukier
    %hr
    %li
      %img{ :width => "86", :height => "96", :alt => "Daniel Lopes", :src => "../images/guests/lopes.png"}
      %h3(id="lopes")
        %a{ :href => "http://areacriacoes.com.br/", :target => "_blank"}
          Daniel Lopes
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "dhh", :src => "../images/guests/dhh.jpg"}
      %h3(id="dhh")
        %a{ :href => "http://37signals.com/", :target => "_blank"}
          David Heinemeier Hansson
    %hr
    %li
      %img{ :width => "86", :height => "75", :alt => "David Paniz", :src => "../images/guests/paniz.jpg"}
      %h3(id="paniz")
        %a{ :href => "http://caelum.com.br", :target => "_blank"}
          David Paniz
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "David William", :src => "../images/guests/david-william.jpg"}
      %h3(id="david")
        %a{ :href => "http://twitter.com/davidwilliam_t", :target => "_blank"}
          David William
    %hr
    %li
      %img{ :width => "78", :height => "88", :alt => "akita", :src => "../images/guests/akita.png"}
      %h3(id="akita")
        %a{ :href => "http://www.akitaonrails.com/", :target => "_blank"}
          Fabio Akita
    %hr
    %li
      %img{ :width => "86", :height => "96", :alt => "kung", :src => "../images/guests/kung.png"}
      %h3(id="kung")
        %a{ :href => "http://www.fabiokung.com/", :target => "_blank"}
          Fabio Kung
    %hr
    %li
      %img{ :width => "86", :height => "91", :alt => "Geoffrey Grosenbach", :src => "../images/guests/geoffrey.png"}
      %h3(id="boss")
        %a{ :href => "http://www.topfunky.com/", :target => "_blank"}
          Geoffrey Grosenbach
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Henrique Bastos", :src => "../images/guests/henrique.png"}
      %h3(id="henrique")
        %a{ :href => "http://henriquebastos.net/", :target => "_blank"}
          Henrique Bastos
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Hugo Baraúna", :src => "../images/guests/hugo.jpg"}
      %h3(id="hugo")
        %a{ :href => "http://plataformatec.com.br", :target => "_blank"}
          Hugo Baraúna
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Juan Bernabó", :src => "../images/guests/bernabo.jpg"}
      %h3(id="bernabo")
        %a{ :href => "http://teamware.com.br", :target => "_blank"}
          Juan Bernabó
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "José Valim", :src => "../images/guests/valim.png"}
      %h3(id="valim")
        %a{ :href => "http://plataformatec.com.br", :target => "_blank"}
          José Valim
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Leandro Silva", :src => "../images/guests/leandro.png"}
      %h3(id="leandro")
        %a{ :href => "http://twitter.com/codezone", :target => "_blank"}
          Leandro Silva
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "tapajos", :src => "../images/guests/tapajos.png"}
      %h3(id="tapajos")
        %a{ :href => "http://tapajos.me/", :target => "_blank"}
          Marcos Tapajós
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "mauricio", :src => "../images/guests/mauricio.png"}
      %h3(id="mauricio")
        %a{ :href => "http://bloobox.com.br/", :target => "_blank"}
          Mauricio Linhares
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "nando", :src => "../images/guests/nando.jpg"}
      %h3(id="nando")
        %a{ :href => "http://nandovieira.com.br/", :target => "_blank"}
          Nando Vieira
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "Pedro Belo", :src => "../images/guests/pedro.jpg"}
      %h3(id="belo")
        %a{ :href => "http://twitter.com/ped", :target => "_blank"}
          Pedro Belo
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "Rafael Lima", :src => "../images/guests/rafael.jpg"}
      %h3(id="rafael")
        %a{ :href => "http://bielsystems.com.br", :target => "_blank"}
          Rafael Lima
    %hr
    %li
      %img{ :width => "80", :height => "90", :alt => "Rafael Rosa Fu", :src => "../images/guests/rosafu.jpg"}
      %h3(id="rosafu")
        %a{ :href => "http://rubyinside.com.br", :target => "_blank"}
          Rafael Rosa Fu
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "Rodrigo Franco", :src => "../images/guests/franco.jpg"}
      %h3(id="franco")
        %a{ :href => "http://rodrigofranco.com", :target => "_blank"}
          Rodrigo Franco
    %hr
    %li
      %img{ :width => "80", :height => "90", :alt => "Sylvestre Mergulhão", :src => "../images/guests/sylvestre.jpg"}
      %h3(id="mergulhao")
        %a{ :href => "http://", :target => "_blank"}
          Sylvestre Mergulhão
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "thais", :src => "../images/guests/thais.png"}
      %h3(id="thais")
        %a{ :href => "http://tcamilo.wordpress.com", :target => "_blank"}
          Thais Camilo
    %hr
    %li
      %img{ :width => "78", :height => "88", :alt => "vinicius", :src => "../images/guests/vinicius.png"}
      %h3(id="vinicius")
        %a{ :href => "http://beonthe.net/criar_site_fazer_site/pagina/home", :target => "_blank"}
          Vinícius Teles

