---
layout: default-en
title: Videos
layout_type: internal_page 
category: en 
---
%p Below you can follow the PlayList of the videos of calls to the Rails oxente 2010. 
#videos
%object{ :width => "640", :height => "385" }
 %param{ :name => "movie", :value => "http://www.youtube.com/p/51AE9CC696207913&amp;hl=en_US&amp;fs=1" }
 %param{ :name => "allowFullScreen", :value => "true" }
 %param{ :name => "allowscriptaccess", :value => "always" }
 %embed{ :src => "http://www.youtube.com/p/51AE9CC696207913&amp;hl=en_US&amp;fs=1", :type => "application/x-shockwave-flash", :allowscriptaccess => "always", :allowfullscreen => "true", :width => "640", :height => "385" }
 
%p Ps.: For access to the other videos, click in the icon next to "Play", it's referring to Oxente Rails 2010 PlayList, and you'll can view all the other videos of Oxente Rails 2010! Then just choose which one you want to watch!