---
layout: default-en
title: Sponsors
layout_type: internal_page
category: en 
---

%p
  The Oxente Rails Event is a great opportunity for you who want to publicize your company to an audience of software developers, students and information tecnology company's managers around all the Brazilian Northeast. For more information about how this is possible, you might get out Marketing Plan 
  %a{ :href => "../pdf/PMK-Oxente Rails 2010.pdf"}
    %strong - AQUI!
  and choose what kind of sponsorship is most suited to your company and contact us by 
  %a{ :href => "/en/contact"}
    %strong contact page,
  or by our
  %a{ :href => "mailto:contato@oxenterails.com"}
    %strong email: contato@oxenterails.com
    
%hr

%h3 Direct Link to download:
    
%ul
  %li
    %strong Marketing Plan (in Portuguese)
    (
    %a.no-bold{ :href => "../pdf/PMK-Oxente Rails 2010.pdf"}
      MKP - Oxente Rails 2010.pdf
    )