---
layout: default-en
title: Speakers
layout_type: internal_page
category: en 
---

#guests
  %ul
    %li
      %img{ :width => "88", :height => "88", :alt => "Ale Gomes", :src => "../images/guests/alegomes.jpg"}
      %h3(id="alegomes")
        %a{ :href => "#", :target => "_blank"}
          Alexandre Gomes
      %p 
        Alexandre já comeu o pão que o diabo amaçou e colhe agora os frutos de uma vida sofrida. Programando desde os 15 anos de idade, viveu os tempos áureos do dBaseIII, do Lotus1-2-3, FoxPro, Clipper e Sidequick. Profissionalizou-se em 96 com a curiosa tecnologia Java e nela fez carreira. Trabalhou em pequenas, médias e grandes empresas, públicas e privadas, nacionais e internacionais. Vestiu terno e gravata, posou de consultor, certificou-se até o limite e perdeu a conta de quantos relatórios foi condenado a fazer. Pobre Alexandre. O mundo corporativo não é fácil. Mas a vida é uma caixinha de surpresas e foi num golpe do acaso que um admirável mundo novo lhe foi apresentado. Em 2003, empreendeu e tornou-se dono de seu próprio destino. Desde então, é levado por suas crenças, valores e princípios. Nunca mais submeteu-se a caprichos hierárquicos, regras obtusas ou equívocos tecnológicos. Aprendeu a viver uma vida de equilíbrio. Pratica esportes regularmente, leciona numa universidade da capital e ainda reserva tempo para a tradicional roda de choro semanal com os amigos da música. Este é Alexandre. Mineiro de nascença, brasiliense de coração, geek por opção.
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "brando", :src => "../images/guests/brando.png"}
      %h3(id = "brando")
        %a{ :href => "http://www.nomedojogo.com/", :target => "_blank"}
          Carlos Brando
      %p
        Addicted to programming, he is currently Technology Director at
        %a(href="http://amanaie.com.br/" target="_blank") Amanaiê,
        after being Senior Engineer at
        %a(href="http://surgeworks.com/" target="_blank") Surgeworks LLC. 
        He's been working with software development for more than ten years. His
        %a(href="http://nomedojogo.com" target="_blank") blog
        is one of the most known Ruby on Rails blogs in Brazil. He is very active in the Brazilian Ruby on Rails community and is part of many open-source projects. He gave talks at many Ruby related brazilian Rails and also wrote the
        %a(href="http://www.nomedojogo.com/2008/06/09/new-free-book-ruby-on-rails-21-whats-new/" target="_blank") first book
        about Rails 2.1 in the world, freely available on the internet.
    %hr
    %li
      %img{ :width => "67", :height => "87", :alt => "Cauê Guerra", :src => "../images/guests/caue.png"}
      %h3(id = "caue")
        %a{ :href => "http://twitter.com/caueguerra", :target => "_blank"}
          Cauê Guerra
      %p
        Graduated on Computer Science at IME-USP, Java and Ruby on Rails developer for about 2 years. Worked as developer, instructor and consultant at
        %a(href="http://caelum.com.br/" target="_blank") Caelum
        and currently he works as a consultant with
        %a(href="http://thoughtworks.com/" target="_blank") ThoughtWorks
        on Australia.
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Daniel Cukier", :src => "../images/guests/daniel.jpg"}
      %h3(id="daniel")
        %a{ :href => "http://www.agileandart.com", :target => "_blank"}
          Daniel Cukier
      %p 
        Works with software development since 1995. He have a master degree on Computer Science by the Universidade de São Paulo with his thesis Patterns to Introduce New Ideas in Software Industry (<a href='http://vimeo.com/4766693' target='_blank'>http://vimeo.com/4766693</a>). Active in the agile community since 2005, when entered in <a href='www.agilcoop.org.br' target='_blank'>Agilcoop</a>, producing podcasts, articles and teaching classes about agility. Introduced the use of Agile Methods at Locaweb, biggest hosting company of Latin America, where he works today as software development manager. Also, he is the author of the blog <a href='www.agileandart.com' target='_blank'>http://www.agileandart.com</a>, where usually writes about the similarities between software development and arts. Besides of his presence in software area, works with theater, musics and poetry, having recently published his first book, entitled "Para Todos" ("For All").
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "dhh", :src => "../images/guests/dhh.jpg"}
      %h3(id = "dhh")
        %a{ :href => "http://37signals.com/", :target => "_blank"}
          David Heinemeier Hansson
      %p
        David is a partner in
        %a(href="http://37signals.com/" target="_blank") 37signals,
        and the creator of the web-application framework
        %a(href="http://rubyonrails.org/" target="_blank") Ruby on Rails. 
        For his work on Rails, he won Best Hacker of the Year 2005 
        %a(href="http://osdir.com/Article6677.phtml" target="_blank") at OSCON from Google and O'Reilly.
        And in 2006, he accepted the Jolt award of product excellence for Rails 1.0. He is the co-author of
        %a(href="http://gettingreal.37signals.com/" target="_blank") Getting Real
        (over 40,000 copies sold) and
        %a(href="http://pragprog.com/titles/rails3/agile-web-development-with-rails-third-edition" target="_blank") Agile Web Development with Rails
        (over 100,000 copies sold).
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "Dr. Nic Williams", :src => "../images/guests/drnic.png"}
      %h3(id = "nic")
        %a{ :href => "http://mocra.com/", :target => "_blank"}
          Dr. Nic Williams
      %p
        Dr. Nic is the founder of Rails consultancy
        %a(href="http://mocra.com/" target="_blank") Mocra.
        He’s written, maintained and contributed to over a 100 open source projects, across the languages/domains of Ruby, JavaScript, Objective-C and TextMate bundles. Dr. Nic has been presenting at International Conferences since 2007, including RubyConf, RailsConf Europe, QCON, JAOO, RubyEnRails, Rails Underground, Rails Summit Latin America, RubyConf Europe, RubyFools, OSDC, RailsCamp and RailsConf. He is Australian and thinks he is funny.
    %hr
    %li
      %img{ :width => "78", :height => "88", :alt => "akita", :src => "../images/guests/akita.png"}
      %h3(id = "akita")
        %a{ :href => "http://www.akitaonrails.com/", :target => "_blank"}
          Fabio Akita
      %p
        He is one of the most actives Ruby on Rails evangelists on Latin America. He organized and promoted the first real Brazilian Ruby on Rails conference: RejectConf São Paulo ‘07, and more recently organized the
        %a(href="http://www.railssummit.com.br/" target="_blank") Rails Summit Latin America 2009. 
        Blogs regularly in portuguese and english at
        %a(href="http://akitaonrails.com/" target="_blank") AkitaOnRails.com
        about software development, Ruby on Rails and other things. He also helps to promote new technologies and the Agile philosophy.
    %hr
    %li
      %img{ :width => "86", :height => "96", :alt => "kung", :src => "../images/guests/kung.png"}
      %h3(id="kung")
        %a{ :href => "http://www.fabiokung.com/", :target => "_blank"}
          Fabio Kung
      %p
        Fabio Kung is technical manager and leader of Cloud Computing in Locaweb and Computer Engineer at the Polytech School of USP. Besides teaching at Caelum, he is always involved in technology events such as the Rails Summit, Ruby and Rails in the Real World and FISL. Fond of programming languages, virtual machines and copilers, he worked with Java and Web in Germany and he is very involved with community development in Brazil, mainly Ruby, Java and Cloud Computing. He also loves open source and he's a member of some projects as VRaptor, GUJ, Caelum and Stella JettyRails.
    %hr
    %li
      %img{ :width => "86", :height => "91", :alt => "geoffrey grosenbach", :src => "../images/guests/geoffrey.png"}
      %h3(id="geoffrey")
        %a{ :href => "http://www.topfunky.com/", :target => "_blank"}
          Geoffrey Grosenbach
      %p
        Geoffrey Grosenbach has been designing and developing web applications since 1997. He hosts the
        %a{ :href => "http://podcast.rubyonrails.org/"} Ruby on Rails Podcast
        from his home in Seattle, WA.
        He will be speaking at
        %a{ :href => "http://www.canadaonrails.ca/"} Canada on Rails
        and other upcoming Rails conferences this year.
        His Gruff graphing library for Ruby is in use on many Rails-powered applications around the world.
        He is writing two chapters for an upcoming book on Rails Deployment, to be published by 
        %a{ :href => "http://www.pragprog.com/the-pragmatic-programmer"} the Pragmatic Programmers.
        You can keep up on his current endeavors and Rails epiphanies at
        %a{ :href => "http://nubyonrails.com/", :target => "_blank"} Nuby on Rails
        or contact him via the
        %a{ :href => "http://topfunky.com/", :target => "_blank"} Topfunky Corporation.
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Henrique Bastos", :src => "../images/guests/henrique.png"}
      %h3(id="henrique")
        %a{ :href => "http://henriquebastos.net/", :target => "_blank"}
          Henrique Bastos
      %p 
        Henrique is passionate about software development! He works as IT director at Myfreecomm, creating system with Agile Methodologies, Python and Open Source software. He is constantly around the software communities organizing events and meetings, speaking at conferences, classes and spreading the word about sustaintable software development in Brazil and around the world. Among many initiatives, he was one of the organizers of Dev in Rio 2009 and PythonCampus that visit the universities promoting the integration among students and the tech market through open source software.
    %hr
    %li
      %img{ :width => "88", :height => "88", :alt => "Hugo Baraúna", :src => "../images/guests/hugo.jpg"}
      %h3(id="hugo")
        %a{ :href => "http://plataformatec.com.br", :target => "_blank"}
          Hugo Baraúna
      %p 
        Hugo is a Ruby and Rails developer since 2007, and today he is the co-founder and developer at Plataforma Tecnologia, software engeeniring consulting company with expertise on Ruby on Rails. His software engeeniring career started at the Computing Engeneering graduation at Escola Politécnica da USP. During the graduation he had the opportunity to work at USP-Microsoft labs. Next, he moved to Sonda Procwork and IBM multinationals. Along this years, Hugo worked with .Net and Java technologies. Nowadays he is responsible to spread and implement good development practices and to manage software projects at Plataforma Tecnologia.
    %hr
    %li
      %img{ :width => "86", :height => "88", :alt => "tapajos", :src => "../images/guests/tapajos.png"}
      %h3(id = "tapajos")
        %a{ :href => "http://tapajos.me/", :target => "_blank"}
          Marcos Tapajós
      %p
        He worked as an agile consultant and team couch until 2008 and nowadays works to
        %a(href="http://redeparede.com/" target="_blank") RedeParede
        and
        %a(href="http://www.improveit.com.br/" target="_blank") Improve It.
        He started working with Ruby on Rails in 2006, co-authored the first Rails 2.1 book and created the internacionalization plugin most used in Brazil. He also contributes with many open source projects.
    %hr
    %li
      %img{ :width => "86", :height => "86", :alt => "thais", :src => "../images/guests/thais.png"}
      %h3(id="thais")
        %a{ :href => "http://tcamilo.wordpress.com", :target => "_blank"}
          Thais Camilo
      %p
        Brazilian, graduated in computer science. Moved to Santiago to work at Hashrocket Chile office. Member of DevChix, works for transform women software developers more active in the communities. Enthusiast of TDD, BDD and pair programming, she is the mentor of many students of computer science in Brazil and USA.
    %hr
    %li
      %img{ :width => "78", :height => "88", :alt => "teles", :src => "../images/guests/vinicius.png"}
      %h3(id = "teles")
        %a{ :href => "http://beonthe.net/criar_site_fazer_site/pagina/home", :target => "_blank"}
          Vinícius Teles
      %p 
        Founder of the consulting company
        %a(href="http://www.improveit.com.br/" target="_blank") Improve It.
        He wrote the first Brazilian book about XP and worked as XP coach and mentor for many years. He's been working with Rails since 2006. In late 2007 he changed his company to a new businness model, tranforming Improve It in an web products company. He now makes a living out of subscriptions to his main product, the
        %a(href="http://beonthe.net/" target="_blank")Be on the Net. 
